/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

* { -moz-box-sizing:border-box; box-sizing:border-box; }

html,
button,
input,
select,
textarea { color:#222; }

body { font-size:1em; line-height:1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection { background:#b3d4fc; text-shadow:none; }

::selection { background:#b3d4fc; text-shadow:none; }

/*
 * A better looking default horizontal rule
 */

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img { vertical-align:middle; } 

/*
 * Remove default fieldset styles.
 */

fieldset { border:0; margin:0; padding:0; }

/*
 * Allow only vertical resizing of textareas.
 */

textarea { resize:vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe { margin:0.2em 0; background:#ccc; color:#000; padding:0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.last { margin-right:0px !important; }
.first { margin-left:0px !important; }
.bottom { margin-bottom:0px !important; }
.first { margin-top:0px !important; }
.ico-general { display:block; background:url('../img/ico-general.png') no-repeat; }

/*
 * Image replacement
 */

.ir { background-color:transparent; border:0; overflow:hidden; /* IE 6/7 fallback */ *text-indent: -9999px; }
.ir:before { content:""; display:block; width:0; height:150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden { display:none !important; visibility:hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden { border:0; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip:auto; height:auto; margin:0; overflow:visible; position:static; width:auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible { visibility:hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after { content:" "; /* 1 */ display:table; /* 2 */ }
.clearfix:after { clear:both; }
.clearfix { *zoom: 1; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body { background-color:#201C1D; }

/* WRAPPERS */
.wrapper { overflow:hidden; }
#modal { position:fixed; -webkit-transition:background-color 0.5s ease; -moz-transition:background-color 0.5s ease; -o-transition:background-color 0.5s ease; -ms-transition:background-color 0.5s ease; transition:background-color 0.5s ease; z-index:30; }
#modal.on  { width:100%; height:100%; background-color:rgba(32,28,29,0.9); }

/* SPEAKERS */
#speakers { width:100%; position:relative; background-color:#D3D3D1; overflow:hidden; background-image: -webkit-linear-gradient(bottom, rgb(220,222,217) 38%, rgb(209,209,204) 66%); background-image: -moz-linear-gradient(bottom, rgb(220,222,217) 38%, rgb(209,209,204) 66%); background-image: -o-linear-gradient(bottom, rgb(220,222,217) 38%, rgb(209,209,204) 66%); background-image: -ms-linear-gradient(bottom, rgb(220,222,217) 38%, rgb(209,209,204) 66%); background-image:linear-gradient(bottom, rgb(220,222,217) 38%, rgb(209,209,204) 66%); }
#speakers .speakers-wrapper { position:relative; margin:auto; height:605px; width:1000px; z-index:1; }
#speakers .speakers-wrapper .shadows { position:absolute; left:-179px; width:1333px; height:605px; background:url('../img/shadows.png') no-repeat center center; }
#speakers .cities { position:absolute; bottom:-71px; height:278px; width:100%; background:url('../img/bg-header.png') repeat-x center center; z-index:2; }

/* HEADER */
#main-wrapper { background-color:#201C1D; }
.header-wrapper { margin:auto; width:1000px; height:110px; z-index:4; }
.header-wrapper .keynote-container { position:relative; margin:auto; left:34px; top:-109px; width:396px; z-index:100; }
.header-wrapper .keynote-container .title { position:relative; margin:auto; width:406px; height:186px; background:url('../img/BrazilJS-logo.png') no-repeat; z-index:3; }
.header-wrapper .keynote-container .the-ruler { position:absolute; top:-342px; right:95px; width:262px; height:459px; background:url('../img/douglas.png') no-repeat; z-index:2; }
.header-wrapper .keynote-container .info { position:absolute; top:-244px; right:-75px; padding:10px 15px; width:209px; background-color:#000; color:#FFF; z-index:1; -webkit-transition:all 0.5s ease; -moz-transition:all 0.5s ease; -o-transition:all 0.5s ease; -ms-transition:all 0.5s ease; transition:all 0.5s ease; opacity:0 }
.header-wrapper .keynote-container:hover .info { opacity:1; }
.header-wrapper .keynote-container .info .name { display:block; margin-bottom:1px; font-size:15px; line-height:15px; }
.header-wrapper .keynote-container .info .alias { display:block; margin-bottom:1px; font-size:13px; }
.header-wrapper .keynote-container .info .company { font-size:11px; }

/* MAIN CONTENT */
main { margin:3px 0 20px; text-align:center; color:#A6A4A5; }
main .disclaimer { margin:auto; width:641px; font-size:11px; }
main .disclaimer a { color:#A6A4A5; text-decoration:none; }

/* FOOTER */
footer { margin:auto; width:1000px; text-align:center; }
footer .in-this-summer { margin:3px 0 0; font-size:40px; letter-spacing:-2px; font-weight:800; color:#B81E1A; }
#social-networks { position:relative; padding:33px 0 0 17px; margin:auto auto 150px auto; width:300px; height:150px; }
#social-networks .share-this { position:absolute; bottom:14px; left:30px; height:54px; width:139px; }
#social-networks ul { padding:0; margin:0; }
#social-networks ul li { display:inline-block; margin-right:10px; vertical-align:top; }

/* MOBILE */
@media (min-width: 0) and (max-width: 500px) {
	
	#modal { display:none; }
	
	/* HELPERS */
	.ico-general { display:block; background:url('../img/mobile/ico-general.png') no-repeat; }
	
	/* SPEAKERS */
	#speakers .speakers-wrapper { height:123px; width:auto; background:url('../img/mobile/bg-header.png') no-repeat center center; }
	#speakers .speakers-wrapper .shadows { display:none; }
	#speakers .cities { position:static; display:block; height:93px; background:url('../img/mobile/bg-cities.png') repeat-x; }
	
	/* HEADER */
	#main-wrapper { margin-top:30px; }
	.header-wrapper { width:320px; height:auto; }
	.header-wrapper .keynote-container { left:20px; top:0; }
	.header-wrapper .keynote-container .title { position:relative; top:-19px; margin:0; width:278px; height:134px; background:url('../img/mobile/BrazilJS-logo.png') no-repeat; }
	.header-wrapper .keynote-container .the-ruler { left:-17px; top:-240px; width:187px; height:334px; background:url('../img/mobile/douglas.png') no-repeat; }
	.header-wrapper .keynote-container .info { opacity:1; top:-194px; left:122px; padding:8px 9px; width:160px; height:53px; }
	.header-wrapper .keynote-container .info .name { font-size:12px; font-weight:bold; line-height:120%; color:rgb(255,255,255); }
	.header-wrapper .keynote-container .info .alias { font-size:9px; }
	.header-wrapper .keynote-container .info .company { font-size:9px; }
	
	/* MAIN CONTENT */
	main { margin-bottom:13px; }
	main .disclaimer { width:303px; font-family:Arial, Helvetica, sans-serif; font-size:9px; line-height:12px; color:rgba(255,255,255,0.6); text-align:center; }
	
	/* FOOTER */
	footer { width:auto; }
	footer .in-this-summer { margin-bottom:28px; font-size:30px; letter-spacing:0; }
	#social-networks { padding-top:40px; border-top:1px dashed #fff; }
	#social-networks .share-this { position:absolute; bottom:5px; left:31px; height:54px; width:139px; }

}

/* TABLET */
@media (min-width : 501px) and (max-width : 768px) {

	#modal { display:none; }

	/* SPEAKERS */
	#speakers .speakers-wrapper .shadows { width:1080px; }
	
	/* HEADER */
	.header-wrapper { width:700px; }
	
	/* FOOTER */
	footer { width:700px; }
	
}