<section id="cta" class="wrapper style3 footer-division">
</section>

<footer id="footer">
	<div class="container">
		<div class="row">
			<section class="3u 6u(narrower) 12u$(mobilep)">
				<h3>Projetos</h3>
				<ul class="links">
					<li><a href="/programa-afiliados">Programa de Afiliados</a></li>
					<li><a href="/">Portal de conteúdo</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/#weekly">Newsletter</a></li>
					<!--li><a href="/#channel9">Channel9</a></li-->
					<li><a href="https://www.youtube.com/playlist?list=PLg2lQYZDBwOQDXKxy9yeqXG5njHbSHFFD">Weekly em vídeo</a></li>
					<li><a href="http://eucompraria.com.br/braziljs">Loja</a></li>
					<li><a href="/faq">FAQ</a></li>
				</ul>
				<h3>BrazilJS Conf</h3>
				<ul class="links">
					<li><a href="/conf">2016</a>, <a href="/conf/2015">2015</a>, <a href="/conf/2014">2014</a>,<br/>
						<a href="/conf/2013">2013</a>, <a href="/conf/2012">2012</a>, <a href="/conf/2011">2011</a></li>
				</ul>
			</section>
			<section class="3u 6u$(narrower) 12u$(mobilep)">
				<h3>Institucional</h3>
				<ul class="links">
					<li><a href="/sobre">Sobre</a></li>
					<li><a href="/patrocine">Patrocine nossos projetos</a></li>
					<li><a href="/patrocine-eventos">Patrocine eventos</a></li>
					<li><a href="/juridico">Jurídico</a></li>
					<li><a href="/imprensa">Imprensa</a></li>
					<li><a href="/contato">Contato</a></li>
					<li><a href="http://nasc.io">Nasc</a></li>
					<li><a href="/campaigns/porque-devo-ir">Por que ir à BrazilJS Conf</a></li>
					<!--li><a href="#">Financeiro</a></li>
					<li><a href="#">Imprensa</a></li!-->
				</ul>
				<h3>Afiliados</h3>
				<ul class="links">
					<li><a href="/filie-seu-evento">Filie seu evento</a></li>
					<li><a href="/coc">Código de Conduta</a></li>
					<li><a href="/widget">Widget</a></li>
				</ul>
			</section>
			<section class="6u 12u(narrower)">
				<h3>Contato</h3>
				<form method="post" target="hidden-frame" action="/getintouch?from=home">
					<div class="row 50%">
						<div class="6u 12u(mobilep)">
							<input type="text" required name="name" id="name" placeholder="Nome" />
						</div>
						<div class="6u 12u(mobilep)">
							<input type="email" required name="email" id="email" placeholder="Email" />
						</div>
					</div>
					<div class="row 50%">
						<div class="12u">
							<textarea name="message" required id="message" placeholder="Mensagem" rows="5"></textarea>
						</div>
					</div>
					<div class="row 50%">
						<div class="12u">
							<ul class="actions">
								<li><input type="submit" class="button alt" value="Enviar" /></li>
							</ul>
						</div>
					</div>
				</form>
				<iframe style="display: none;" id="hidden-frame" name="hidden-frame"></iframe>
			</section>
		</div>
	</div>

	<ul class="icons">
		<li><a href="https://twitter.com/braziljs" class="icon fa-twitter" title="Twitter"><span class="label">Twitter</span></a></li>
		<li><a href="https://fb.com/braziljs" class="icon fa-facebook" title="Facebook"><span class="label">Facebook</span></a></li>
		<li><a href="https://github.com/braziljs" class="icon fa-github" title="GitHub"><span class="label">GitHub</span></a></li>
		<li><a href="https://www.youtube.com/channel/UCnLdHOuue5i1O7TsH6oh07w" class="icon fa-youtube" title="Youtube"><span class="label">Youtube</span></a></li>
		<li><a href="http://nasc.io/" class="icon nasc-icon" title="Nasc"><span class="hover"></span><span class="label">Nasc</span></a></li>
	</ul>

	<div class="copyright">
		<ul class="menu">
			<li>BrazilJS&reg; {{ year }}</li>
		</ul>
	</div>
</footer>

<link rel="stylesheet" href="/styles/main.css" />

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/skel.min.js"></script>
<script src="/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/js/main.js"></script>
<!--<script src="https://apis.google.com/js/platform.js"></script>-->
<script src="/js/lodash.js"></script>
<script src="https://fb.me/react-with-addons-0.14.3.min.js"></script>
<script src="https://fb.me/react-dom-0.14.3.min.js"></script>
<script src="/js/braziljs/app.js"></script>
<script src="https://apis.google.com/js/client.js?onload=onGoogleLoad"></script>

<script>
    var _gaq=[['_setAccount','UA-32119524-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src='//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
