<section class="wrapper style1">
	<div class="container" id="destaques">
		<div class="row 200%">
			<section class="4u 12u(narrower)">
				<div class="box highlight">
					<i class="icon major fa-paper-plane"></i>
					<h3>Eventos</h3>
					<p>Organizamos e fazemos a curadoria de uma série de eventos em todo Brasil. Desde que a primeira BrazilJS Conf aconteceu, em 2011, mais de 50 eventos relacionados surgiram e acontecem todo ano no Brasil. Isso mostra o poder e engajamento de toda comunidade brasileira.</p>
				</div>
			</section>
			<section class="4u 12u(narrower)">
				<div class="box highlight">
					<i class="icon major fa-pencil"></i>
					<h3>Conteúdo</h3>
					<p>Levamos conteúdo de qualidade para toda a comunidade. Através da BrazilJS Weekly, artigos no portal, vídeos no Youtube, screencasts, cursos, etc, é possível estar sempre atualizado com o que existe de novo no mundo Front-end, além de se profissionalizar, tudo isso com o selo de qualidade BrazilJS.</p>
				</div>
			</section>
			<section class="4u 12u(narrower)">
				<div class="box highlight">
					<i class="icon major fa-wrench"></i>
					<h3>Comunidade e Open-source</h3>
					<p>Sem comunidade, não existe a BrazilJS. Estamos sempre focados em ajudar e fomentar o crescimento saudável da comunidade JavaScript no Brasil. Amamos e acreditamos no Open-source, por isso, sempre que possível, desenvolvemos projetos que possam ajudar outros desenvolvedores.</p>
				</div>
			</section>
		</div>
	</div>
</section>
