<div id="content_agenda">

    <h1><span>Agenda</span></h1>
    <div id="agendaSexta">
        <div class="divMolduraInterna">
            <h2> Sexta 13/05/11</h2>
            <table id="programacao">

                <tr>
                    <td class="subHorario">Horário</td>
                    <td class="subTitulo">Palestras - Palestrantes</td>
                </tr>
                <tr>
                    <td class="horario">07h00</td>
                    <td>Credenciamento</td>
                </tr>
                <tr>
                    <td class="horario">07h50</td>
                    <td>Abertura</td>
                </tr>
                <tr>
                    <td class="horario">08h00</td>
                    <td>
                    <a href="#">
                    <img src="images/david.jpg" /> </a>
                    <span>Keynote David Herman</span>
                    <br/>
                    <span>An indepth look at one of the most important coming features: modules</span>
                    </td>
                </tr>
                <tr>
                    <td class="horario">09h00</td>
                    <td>
                    <a href="#">
                    <img src="images/marcelo.png" /> </a>
                    <span>Keynote Marcelo Campos Rocha</span>
                    <br/>
                    <span>Conhecendo o Engine, o servidor Javascript do ERP da UNUM.</span>
                    </td>
                </tr>
                <tr>
                    <td class="horario">10h00</td>
                    <td>Coffee Break</td>
                </tr>
                <tr>
                    <td class="horario">10h30</td>
                    <td>
                    <a href="#">
                    <img src="images/izabel.JPG" /> </a>
                    <span>Izabel Zanforlin</span>
                    <br/>
                    <span>Soluções Web para dispositivos da Nokia</span>
                    </td>
                </tr>
                <tr>
                    <td class="horario">11h15</td>
                    <td>
                    <a href="#">
                    <img src="images/gc.jpg" /> </a>
                    <span>Guilherme Chapiewski</span>
                    <br/>
                    <span>Aplicações para iOS com JavaScript e Titanium Mobile</span>
                    </td>
                </tr>
                <tr>
                    <td class="horario">12h00</td>
                    <td>Almoço (não incluso)</td>
                </tr>
                <tr>
                    <td class="horario">13h00</td>
                    <td>Lightning Talks - 10min - Escolhidas por votação<br/>
                    <table id="programacao">
                        <tr>
                            <td>13h00</td>
                            <td class="lightning">A confirmar
                              <a href="http://call4paperz.com/events/13">Submeta</a>
                            </td>
                        </tr>
                        <tr>
                            <td>13h15</td>
                            <td class="lightning">A confirmar
                              <a href="http://call4paperz.com/events/13">Submeta</a>
                            </td>
                        </tr>
                        <tr>
                            <td>13h30</td>
                            <td class="lightning">A confirmar
                              <a href="http://call4paperz.com/events/13">Submeta</a>
                            </td>
                        </tr>
                        <tr>
                            <td>13h45</td>
                            <td class="lightning">A confirmar
                              <a href="http://call4paperz.com/events/13">Submeta</a>
                            </td>
                        </tr>
                    </table>
                    </td>
                </tr>
                <tr>
                    <td class="horario">14h00</td>                    
                    <td>
                    <a href="#">
                    <img src="images/loiane.jpg" /> </a>
                    <span>Loiane Groner</span>
                    <br/>
                    <span>Aprimorando sua aplicação Java com ExtJS</span>
                    </td>
                </tr>
                <tr>
                    <td class="horario">14h45</td>
                    <td>
                    <a href="#"> <img src="images/porkaria.png" /> </a>
                    <span>Bruno Fernandes (Porkaria)</span>
                    <br/>
                    <span>Webapp, já posso investir nisso?</span>
                    </td>
                </tr>
                <tr>
                    <td class="horario">15h30</td>
                    <td>
                    <a href="#"> <img src="images/fnando.jpg" /> </a>
                    <span>Nando Vieira</span>
                    <br/>
                    <span>Usando Node.js na prática; ou como fiz o Presentta</span>
                    </td>
                </tr>
                <tr>
                    <td class="horario">16h15</td>
                    <td>Coffee Break</td>
                </tr>
                <tr>
                    <td class="horario">16h45</td>
                    <td>
                    <a href="#"> <img src="images/davidsonfellipe.jpg" /> </a>
                    <span>Davidson Fellipe</span>
                    <br/>
                    <span>Canvas Element</span>
                    </td>
                    
                </tr>
                <tr>
                    <td class="horario">17h30</td>
                    <td>
                    <a href="#"> <img src="images/pedro_barcelona.jpg" /> </a>
                    <span>Pedro Pimentel</span>
                    <br/>
                    <span>Introdução e hands-on ao JavascriptMVC, um framework full-stack para javascript</span>
                    </td>
                    
                </tr>
                <tr>
                    <td class="horario">18h15</td>
                    <td>
                    <a href="#"> <img src="images/mikeyyyy.png" /> </a>
                    <span>Keynote Mike Taylor</span>
                    <br/>
                    <span>HTML5 Web Messaging</span>
                    </td>
                </tr>
                <tr>
                    <td class="horario">20h00</td>
                    <td>Hora Extra</td>
                </tr>
            </table>
            <br>
            <br>
        </div>
    </div>
    <div id="agendaSabado">
        <div class="divMolduraInterna">
            <h2> Sábado 14/05/11</h2>
            <table id="programacao">

                <tr>
                    <td class="subHorario">Horário</td>
                    <td class="subTitulo">Palestras - Palestrantes</td>
                </tr>
                <tr>
                    <td class="horario">07h00</td>
                    <td>Credenciamento</td>
                </tr>
                <tr>
                    <td class="horario">07h50</td>
                    <td>Abertura</td>
                </tr>
                <tr>
                    <td class="horario">08h00</td>
                    <td>
                    <a href="#">
                    <img src="images/maujor-twitter.jpg" /> </a>
                    <span>Keynote Maurício Samy Silva (maujor)</span>
                    <br/>
                    <span>A diretiva @font-face das CSS</span>
                    </td>
                </tr>
                <tr>
                    <td class="horario">09h00</td>
                    <td>
                    <a href="#">
                    <img src="images/rworth.jpg" /> </a>
                    <span>Keynote Richard Worth</span>
                    <br/>
                    <span>Tudo de bom com jQuery UI</span>
                    </td>
                </tr>
                <tr>
                    <td class="horario">10h00</td>
                    <td>Coffee Break</td>
                </tr>
                <tr>
                    <td class="horario">10h30</td>
                    <td>
                    <a href="#">
                    <img src="images/emerson.jpg" /> </a>
                    <span>Emerson Leite</span>
                    <br/>
                    <span>Realtime Web Applications with Node.JS</span>
                    </td>
                </tr>
                <tr>
                    <td class="horario">11h15</td>
                    <td>
                    <a href="#">
                    <img src="images/bruno.jpg" /> </a>
                    <span>Bruno Oliveira</span>
                    <br/>
                    <span>Desenvolvimento indolor com JQuery Mobile</span>
                    </td>
                </tr>
                <tr>
                    <td class="horario">12h00</td>
                    <td>Almoço (não incluso)</td>
                </tr>
                <tr>
                    <td class="horario">13h00</td>
                    <td>Lightning Talks - 10min - Escolhidas por votação<br/>
                    <table id="programacao">
                        <tr>
                            <td>13h00</td>
                            <td class="lightning">A confirmar 
                              <a href="http://call4paperz.com/events/13">Submeta</a> 
                            </td>
                        </tr>
                        <tr>
                            <td>13h15</td>
                            <td class="lightning">A confirmar
                              <a href="http://call4paperz.com/events/13">Submeta</a>
                            </td>
                        </tr>
                        <tr>
                            <td>13h30</td>
                            <td class="lightning">A confirmar
                              <a href="http://call4paperz.com/events/13">Submeta</a>
                            </td>
                        </tr>
                        <tr>
                            <td>13h45</td>
                            <td class="lightning">A confirmar
                              <a href="http://call4paperz.com/events/13">Submeta</a>
                            </td>
                        </tr>
                    </table>
                    </td>
                </tr>
                <tr>
                    <td class="horario">14h00</td>
                    <td>
                    <a href="#">
                    <img src="images/brunocarvalho.jpg" /> </a>
                    <span>Bruno Mentges de Carvalho</span>
                    <br/>
                    <span>Global é do mal e o temido escopo local - Entendendo como funciona e trabalhando para evitar conflitos mantendo a testabilidade.</span>
                    </td>
                </tr>
                <tr>
                    <td class="horario">14h45</td>
                    <td>
                    <a href="#">
                    <img src="images/douglas.jpg" /> </a>
                    <span>Douglas Campos</span>
                    <br/>
                    <span>ECMAScript na JVM - unindo o poder da plataforma Java com a Flexibilidade do ECMAScript</span>
                    </td>
                </tr>
                <tr>
                    <td class="horario">15h30</td>
                    <td>
                    <a href="#">
                    <img src="images/andrei.jpg" /> </a>
                    <span>Andrei Formiga</span>
                    <br/>
                    <span>Programação Funcional: Novas Fronteiras e Expansão da Mente</span>
                    </td>
                </tr>
                <tr>
                    <td class="horario">16h15</td>
                    <td>Coffee Break</td>
                </tr>
                <tr>
                    <td class="horario">16h45</td>
                    <td>
                    <a href="#">
                    <img src="images/ferreira.jpg" /> </a>
                    <span>Rafael Ferreira</span>
                    <br/>
                    <span>Capability Based Security: repensando a segurança com ajuda da linguagem</span>
                    </td>
                </tr>
                <tr>
                    <td class="horario">17h30</td>
                    
                    <td>
                    <a href="#">
                    <img src="images/danielpassos.png" /> </a>
                    <span>Daniel Passos</span>
                    <br/>
                    <span>Programando em JS no Android</span>
                    </td>
                </tr>
                <tr>
                    <td class="horario">18h15</td>
                    <td>
                    <a href="#">
                    <img src="images/michal.png" /> </a>
                    <span>Keynote Michal Budzynski</span>
                    <br/>
                    <span>Game Development in Javascript</span>
                    </td>
                </tr>
                <tr>
                    <td class="horario">20h00</td>
                    <td>Hora Extra</td>
                </tr>
            </table>
            <br>
            <br>
        </div>
    </div>
</div>
