<div id="content">
  <h1>Patrocinadores Diamante</h1>
  <a href="http://www.unum.com.br"><img src="images/unum.png" width="180" /></a> 
  <a href="http://globo.com"><img src="images/globo.png" width="130" /></a> 
  <a href="http://www.mozilla.org"><img src="images/mozilla-foundation.png" width="120" /></a> 
  <a href="http://www.nokia.com.br"><img src="images/nokia.png" width="170" /></a> 
  <br><br><br>
  <h1>Patrocinador Ouro</h1>
  <a href="http://www.triadworks.com.br"><img src="images/triadworks2.png" width="200" /></a> 
  <a href="http://jupiterjs.com/"><img src="images/jupiter.png" width="150" /></a> 
  <br><br><br>
  <h1>Patrocinador Prata</h1>
  <a href="http://www.caelum.com.br"><img src="images/caelum_logo_transparent.png" width="150" /></a> 
  <br><br><br>          
  <h1>Patrocinadores Bronze</h1>
  <a href="http://www.intelie.com.br"><img src="images/intelie.png" width="110" /></a> 
  <a href="http://www.github.com"><img src="images/github.png" width="110" /></a> 
  <a href="http://www.insystem.com.br"><img src="images/insystem.png" width="150" /></a>
  <br>
  <a href="http://www.locaweb.com.br"><img src="images/locaweb.png" width="150" /></a> 
  <a href="http://www.taxisimples.com.br"><img src="images/taxisimples.png" width="120" /></a> 
  <br><br><br>
  <h1>Organização</h1>
  <a href="http://www.milfont.org"><img src="images/milfont_consulting.png" width="200" /></a> 
  <a href="http://www.akayu.com.br"><img src="images/akayu.png" width="120" /></a> 
</div>
<div id="side">

  <h1>Apoio</h1>
  <a href="http://www.fa7.edu.br/"><img src="images/LOGO_FA7.gif" width="120" /></a>
  &nbsp;&nbsp; 
  <a href="http://www.opera.com"><img src="images/opera.png" width="140" /></a><br>
  <br><br>
  <a href="http://www.thoughtworks.com/"><img src="images/thoughtworks.gif" width="200" /></a> 
  <br><br>
  <a href="http://ongamestart.com/"><img src="images/onGameStart.png" width="140" /></a>&nbsp;&nbsp; 
  <a href="https://developer.mozilla.org/en/JavaScript/Reference"><img src="http://static.jsconf.us/promotejshs.png" width="120" /></a> 
  <br><br>
  <h1>Twitter</h1>
  <div id="twtr-widget"></div>

</div>
