<div id="content">
  <h1><span>Inscrições</span></h1>
  <div>

    <p>Inscrições encerradas, até próximo ano.</p>
    
  </div>
      

    <h2><span>Pagamento com opção de boleto</span></h2>
<form method='post' action='https://www.moip.com.br/PagamentoSimples.do'>
<input type='hidden' name='id_carteira' value='cmilfont'/>
<input type='hidden' name='valor' value='6000'/>
<input type='hidden' name='nome' value='Pagamento BrazilJS'/>
<input type='image' name='submit' src='https://www.moip.com.br/imgs/buttons/bt_pagar_c01_e02.gif' alt='Pagar' border='0' />
</form>


  
</div>
