<div id="content">
  <h1>BrazilJS 2011 - Primeira Conferência Brasileira de Javascript</h1>
  <br />
  <br />
  <p> Fortaleza, Sexta 29 de Abril de 2011, Christiano Milfont </p>

  <p>
  O BrazilJS tem o objetivo de reunir alguns dos expoentes em Javascript - linguagem de programação de computadores muito popular - no Brasil para disseminação de boas práticas, ferramentas, conceitos e últimas novidades acerca do universo que gira em torno da linguagem através de palestras, sociabilização (Networking), integração e o intercâmbio de conhecimentos e experiências entre profissionais e estudantes da área.
  </p>
  <p>
  Percebendo a carência de eventos que abordem o tema em nosso país, a empresa Milfont Consulting realizará em Fortaleza a primeira edição do evento BrazilJS aos moldes dos eventos internacionais JSConf.us e JSConf.eu, com organização de voluntários[1], entusiastas e o apoio da Faculdade 7 de Setembro (FA7).
  </p>
  <p>
  A linguagem Javascript ultrapassou a barreira de linguagem de nicho, hoje é usada fortemente em diversos segmento e já é a mais popular no principal serviço de hospedagem de códigos no mundo, o popular Github [2].
  </p>
  <p>
  O público alvo são empreendedores da área de tecnologia e negócios, profissionais, estudantes e entusiastas interessados em desenvolvimento de software. Com lotação máxima de 550 pessoas, até o momento já temos um público de 530 entre inscritos, palestrantes, organizadores e convidados dos patrocinadores.
  </p>
  <p>
  O BrazilJS [3] será realizado nos dias 13 e 14 de Maio de 2011 na Faculdade 7 de Setembro (FA7), localizada em uma das mais belas capitais do Nordeste – Fortaleza/CE.
  </p>
  <p>
  A agenda do evento [4] foi composta por ilustres convidados que se destacam em suas áreas de especialização como os famosos: Maurício Samy, conhecido como Maujor, um dos maiores especialistas em CSS do Brasil; o Norte-americano Richard D. Worth, líder do projeto jQueryUI, uma das principais bibliotecas utilizadas no desenvolvimento com a linguagem javascript em todo mundo;  Mike Taylor, especialista do Grupo Opera, empresa responsável pelo navegador Opera, líder no seguimento de dispositivos móveis; além de vários outros especialistas.
  </p>
  <p>
  Vale ressaltar que algumas palestras curtas, conhecidas como Lightning Talks, foram escolhidas por forte votação pública [5], demostrando o engajamento do público com o evento.
  </p>
  <p>
    [1] <a href="http://braziljs.com.br/2011/#!/quemsomos"> http://braziljs.com.br/2011/#!/quemsomos </a> <br />
    [2] <a href="https://github.com/languages/javascript"> https://github.com/languages/javascript </a> <br />
    [3] <a href="http://braziljs.com.br/2011/#!/home"> http://braziljs.com.br/2011/#!/home </a> <br />
    [4] <a href="http://braziljs.com.br/2011/#!/agenda"> http://braziljs.com.br/2011/#!/agenda </a> <br />
    [5] <a href="http://www.milfont.org/tech/2011/04/19/braziljs-lightning-talks-escolhidos-por-votacao/"> http://www.milfont.org/tech/2011/04/19/braziljs-lightning-talks-escolhidos-por-votacao/ </a> 
  </p>
  
</div>
