<div id="content">
  <h1>Fotos</h1>
  <iframe align="center" src="http://www.flickr.com/slideShow/index.gne?tags=braziljs" width="400" height="390" frameBorder="0" scrolling="no"></iframe>
</div>
<div id="side">
  <h1>Twitter</h1>
  <script>
  /* new TWTR.Widget({ */
  /*   version: 2, */
  /*   type: 'search', */
  /*   search: 'braziljs', */
  /*   interval: 6000, */
  /*   title: 'BrazilJS', */
  /*   subject: 'The Brazilian JS Conference', */
  /*   width: 400, */
  /*   height: 300, */
  /*   theme: { */
  /*     shell: { */
  /*       background: '#450D0B', */
  /*       color: '#ffffff' */
  /*     }, */
  /*     tweets: { */
  /*       background: '#ffffff', */
  /*       color: '#444444', */
  /*       links: '#450d0b' */
  /*     } */
  /*   }, */
  /*   features: { */
  /*     scrollbar: false, */
  /*     loop: true, */
  /*         live: true, */
  /*         hashtags: true, */
  /*         timestamp: true, */
  /*         avatars: true, */
  /*         toptweets: true, */
  /*         behavior: 'default' */
  /*       } */
  /*     }).render().start(); */
  </script>
</div>

