<section class="wrapper style2">
	<div class="container">
		<header class="major">
			<h2 id="weekly">BrazilJS Weekly</h2>
			<p>A BrazilJS Weekly é a nossa newsletter semanal com conteúdo relevante sobre tecnologias Web (Front-end e Back-end), incluindo JavaScript, HTML5, CSS, Node.js, entre outras. Fique por dentro do que acontece no mundo Front-end e assine a Weekly versão texto ou versão vídeo! Nós odiamos SPAM, pode ficar tranquilo :)</p>
		</header>
	</div>
</section>

<section class="wrapper style1">

	<div class="container">
		<div class="row">
			<section class="8u 12u(narrower)">

				<!--div class="container"-->
					<form action="//braziljs.us5.list-manage.com/subscribe/post?u=77b6594f10bba05dcc722c80e&amp;id=e6beed4270" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
			          <label style="margin-bottom: 20px;" for="mce-EMAIL">Cadastre seu e-mail:</label>
			          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="seu@email.com" required=""><br />
			          <input type="submit" value="Inscreva-se" name="subscribe" id="mc-embedded-subscribe" class="button">
			          <br /><br />
			        </form>
					<div>
						Entre também na discussão, no <a href="https://braziljs-slack.herokuapp.com/" target="_blank">slack</a>.
					</div>
				<!--/div-->
			</section>
			<!--
			<section class="4u 12u(narrower)" style="text-align: center;">
				<strong>Junte-se à discussão no Skack</strong><br/>

					<div style="position: relative;
								width: 315px;
								height: 180px;
								overflow: hidden;
								margin: auto;">
						<iframe src="https://braziljs-slack.herokuapp.com/"
								style="height: 330px; width: 100%; border: none;
									   position: absolute;
									   top: -205px;" scrolling="no" ></iframe>
					</div>

			</section>
			-->
		</div>
		<div style="text-align: center;">
			<script async="" src="https://apis.google.com/js/platform.js"></script>
			<h2 style="margin: 0;">Inscreva-se em nosso canal de vídeos<br/>
				<div class="g-ytsubscribe" data-channel="braziljs" data-layout="default" data-count="default"></div></h2>
		</div>
	</div>


</section>
