@import url("/styles/font-awesome.min.css");

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");

html,
body,
div,
span,
iframe,
h1,
a,
em,
img,
i,
ul,
li,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

header,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

body {
  -webkit-text-size-adjust: none;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1400px;
}

@media screen and (max-width: 1680px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 980px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 840px) {
  .container {
    width: 95% !important;
  }
}

@media screen and (max-width: 736px) {
  .container {
    width: 90% !important;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 100% !important;
  }
}

.row {
  border-bottom: solid 1px transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row > * {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row:after,
.row:before {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

.row > * {
  padding: 50px 0 0 50px;
}

.row {
  margin: -50px 0 -1px -50px;
}

.row.\32 00\25 > * {
  padding: 100px 0 0 100px;
}

.row.\32 00\25 {
  margin: -100px 0 -1px -100px;
}

.\34 u {
  width: 33.3333333333%;
  clear: none;
  margin-left: 0;
}

@media screen and (max-width: 1680px) {
  .row > * {
    padding: 40px 0 0 40px;
  }

  .row {
    margin: -40px 0 -1px -40px;
  }

  .row.\32 00\25 > * {
    padding: 80px 0 0 80px;
  }

  .row.\32 00\25 {
    margin: -80px 0 -1px -80px;
  }
}

@media screen and (max-width: 1280px) {
  .row > * {
    padding: 30px 0 0 30px;
  }

  .row {
    margin: -30px 0 -1px -30px;
  }

  .row.\32 00\25 > * {
    padding: 60px 0 0 60px;
  }

  .row.\32 00\25 {
    margin: -60px 0 -1px -60px;
  }
}

@media screen and (max-width: 980px) {
  .row > * {
    padding: 30px 0 0 30px;
  }

  .row {
    margin: -30px 0 -1px -30px;
  }

  .row.\32 00\25 > * {
    padding: 60px 0 0 60px;
  }

  .row.\32 00\25 {
    margin: -60px 0 -1px -60px;
  }
}

@media screen and (max-width: 840px) {
  .row > * {
    padding: 30px 0 0 30px;
  }

  .row {
    margin: -30px 0 -1px -30px;
  }

  .row.\32 00\25 > * {
    padding: 60px 0 0 60px;
  }

  .row.\32 00\25 {
    margin: -60px 0 -1px -60px;
  }

  .\31 2u\28narrower\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }
}

@media screen and (max-width: 736px) {
  .row > * {
    padding: 20px 0 0 20px;
  }

  .row {
    margin: -20px 0 -1px -20px;
  }

  .row.\32 00\25 > * {
    padding: 40px 0 0 40px;
  }

  .row.\32 00\25 {
    margin: -40px 0 -1px -40px;
  }
}

@media screen and (max-width: 480px) {
  .row > * {
    padding: 20px 0 0 20px;
  }

  .row {
    margin: -20px 0 -1px -20px;
  }

  .row.\32 00\25 > * {
    padding: 40px 0 0 40px;
  }

  .row.\32 00\25 {
    margin: -40px 0 -1px -40px;
  }
}

body {
  background: #f7f7f7 url("/images/bg01.png");
}

body {
  color: #474747;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16pt;
  font-weight: 300;
  line-height: 1.65em;
}

a {
  color: #ffde17;
  text-decoration: none;
  border-bottom: dotted 1px;
}

em,
i {
  font-style: italic;
}

ul {
  margin: 0 0 2em 0;
}

h1 {
  color: inherit;
  font-weight: 600;
  line-height: 1.75em;
  margin-bottom: 1em;
}

h1 a {
  color: inherit;
  text-decoration: none;
}

h1 em {
  font-style: normal;
  font-weight: 300;
}

::-webkit-input-placeholder {
  color: #999;
  position: relative;
  top: 3px;
}

:-moz-placeholder {
  color: #999;
}

::-moz-placeholder {
  color: #999;
}

:-ms-input-placeholder {
  color: #999;
}

.icon {
  text-decoration: none;
  position: relative;
  text-decoration: none;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

.icon.major {
  text-align: center;
  background-color: #ffde17;
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("/images/bg01.png");
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("/images/bg01.png");
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("/images/bg01.png");
  background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("/images/bg01.png");
  color: #fff;
  border-radius: 100%;
  display: inline-block;
  width: 5em;
  height: 5em;
  line-height: 5em;
  box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
  margin: 0 0 2em 0;
}

.icon.major:before {
  font-size: 36px;
}

ul.icons li span {
  font-size: 2em;
  border: 0;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("/images/bg01.png");
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("/images/bg01.png");
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("/images/bg01.png");
  background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("/images/bg01.png");
  background-color: #ffde17;
  border-radius: 5px;
  border: 0;
  color: #fff;
  display: inline-block;
  padding: 0 1.5em;
  line-height: 2.75em;
  min-width: 9em;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: -0.025em;
}

.box.highlight {
  text-align: center;
}

#header {
  text-align: center;
  padding: 3em 0 0 0;
  background-color: #fff;
  background-image: url("/images/bg02.png"), url("/images/bg02.png"), url("/images/bg01.png");
  background-position: top left,          top left,         top left;
  background-size: 100% 6em,          100% 6em,         auto;
  background-repeat: no-repeat,         no-repeat,          repeat;
}

#header h1 {
  padding: 0 0 2.75em 0;
  margin: 0;
}

#header h1 a {
  font-size: 1.5em;
  letter-spacing: -0.025em;
  border: 0;
}

#nav {
  background-color: #333;
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3)), url("/images/bg01.png");
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3)), url("/images/bg01.png");
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3)), url("/images/bg01.png");
  background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3)), url("/images/bg01.png");
  padding: 0;
}

#nav:after {
  content: '';
  display: block;
  width: 100%;
  height: 0.75em;
  background-color: #ffde17;
  background-image: url("/images/bg01.png");
}

#nav > ul {
  margin: 0;
  font-weight: bold;
}

#nav > ul > li {
  position: relative;
  display: inline-block;
  margin-left: 1em;
}

#nav > ul > li a {
  color: #c0c0c0;
  text-decoration: none;
  border: 0;
  display: block;
  padding: 1.5em 0.5em 1.35em 0.5em;
}

#nav > ul > li:first-child {
  margin-left: 0;
}

#nav > ul > li.current {
  font-weight: 600;
}

#nav > ul > li.current:before {
  -moz-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  width: 0.75em;
  height: 0.75em;
  content: '';
  display: block;
  position: absolute;
  bottom: -0.5em;
  left: 50%;
  margin-left: -0.375em;
  background-color: #ffde17;
  background-image: url("/images/bg01.png");
}

#nav > ul > li.current a {
  color: #fff;
}

#banner {
  background-image: url("/images/braziljs-bg.jpg");
  background-position: center center;
  background-size: cover;
  height: 28em;
  text-align: center;
  position: relative;
}

#banner img {
  height: 14em;
  margin-top: 4.5em;
}

#banner header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #212121;
  background: rgba(27, 27, 27, 0.75);
  color: #fff;
  padding: 1.5em 0;
}

#banner header .button {
  vertical-align: middle;
  margin-left: 1em;
}

.wrapper {
  padding: 5em 0 3em 0;
}

.wrapper.style1 {
  background: #fff;
}

@media screen and (max-width: 1680px) {
  body {
    font-size: 14pt;
    line-height: 1.5em;
  }

  #banner {
    height: 24em;
  }

  #banner img {
    height: 14em;
    margin-top: 2.5em;
  }
}

@media screen and (max-width: 1280px) {
  #banner img {
    height: 11em;
    margin-top: 2.5em;
  }

  body {
    font-size: 13pt;
    line-height: 1.5em;
  }

  ul.icons li span {
    font-size: 1.5em;
  }

  #header {
    padding: 2em 0 0 0;
  }

  #header h1 {
    padding: 0 0 1.75em 0;
  }

  #banner {
    height: 20em;
  }

  .wrapper {
    padding: 3em 0 1em 0;
  }
}

@media screen and (max-width: 980px) {
  #banner img {
    height: 10em;
    margin-top: 4.5em;
  }

  body {
    font-size: 12pt;
    line-height: 1.5em;
  }
}

@media screen and (max-width: 840px) {
  html,
  body {
    overflow-x: hidden;
  }

  body {
    font-size: 13pt;
  }

  h1 {
    margin-bottom: 0.5em;
  }

  .box.highlight {
    text-align: left;
    position: relative;
    padding-left: 7em;
  }

  .box.highlight i {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0.25em;
  }

  #header {
    display: none;
  }

  #banner {
    height: 20em;
  }

  #banner header .button {
    margin: 1em 0 0 0;
  }

  #page-wrapper {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    padding-bottom: 1px;
    padding-top: 44px;
  }
}

@media screen and (max-width: 736px) {
  #banner img {
    height: 8em;
    margin-top: 3.5em;
  }

  body {
    font-size: 11pt;
    line-height: 1.35em;
  }

  #banner {
    height: 18em;
  }

  .wrapper {
    padding: 2em 0 1px 0;
  }
}

@media screen and (max-width: 480px) {
  #banner img {
    height: 7em;
    margin-top: 3.5em;
  }

  .icon.major {
    width: 4em;
    height: 4em;
    line-height: 4em;
    box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
  }

  .icon.major:before {
    font-size: 24px;
  }

  .button {
    width: 100%;
    display: block;
  }

  .box.highlight {
    padding-left: calc(4em + 30px);
  }

  #banner {
    height: 20em;
  }

  #banner header {
    padding: 20px;
  }

  .wrapper {
    padding: 2em 20px 1px 20px;
  }
}

#banner header {
  padding: 1em;
}
