{% extends "templates/layouts/default-new.html" %}

{% block main %}

<style type="text/css">
    #coc-pt-BR {
        display: block;
    }
    #coc-es {
        display: none;
    }
    #coc-en-US {
        display: none;
    }
</style>

<div class="wrapper style1">
	<div class="container">
        <select id="slct-lang">
            <option value="pt-BR">Português</option>
            <option value="en-US">English</option>
            <option value="es-LATAM">Español</option>
        </select>
        <br/><br/>

        <section id="coc-pt-BR">

            <h1>Código de conduta das conferência filiadas à BrazilJS</h1>

            <p>Todos os participantes, palestrantes, patrocinadores e voluntários da conferência precisam concordar com este código de conduta.
            Os organizadores vão reforçar que este código seja seguido durante todo o evento. Esperamos a cooperação de todos os participantes para ajudar a garantir um ambiente seguro para todos.</p>

            <h2>Precisa de ajuda?</h2>

            <p>Caso tenha alguma dúvida ou sugestão, entre em contato com qualquer um dos organizadores da conferência em questão, ou pelo e-mail <a href="mailto:ping@nasc.tio">ping@nasc.io</a>.</p>

            <h2>Versão rápida (tl;dr)</h2>

            <p>
              A BrazilJS e todas as conferências filiadas são dedicadas a fornecer uma experiência de conferência livre de assédio para todos,
              independentemente do sexo, identidade de gênero e expressão, idade, orientação sexual, deficiência,
              aparência física, tamanho corporal, cor de pele, etnia, religião (ou falta dela) ou escolhas de tecnologias.<br/>
              Nós não toleramos o assédio aos participantes da conferência, sob qualquer forma. Linguagem e imagens sexuais
              não são apropriadas em nenhum local da conferência, incluindo palestras, workshops, festas, Twitter e
              outras mídias on-line. Os participantes que violarem estas regras poderão ser punidos ou expulsos da conferência
              <em>sem restituição</em>, a critério dos organizadores da conferência.<br/>
              A punição pode ir desde a expulsão do participante da conferência atual, até ser banido da próxima edição dela, ou até mesmo dos demais eventos filiados.
            </p>

            <h2>Versão detalhada</h2>
            <p>
              Assédio inclui comentários verbais ofensivos relacionados ao gênero, identidade de gênero e expressão,
              idade, orientação sexual, deficiência, aparência física, tamanho corporal, cor de pele, etnia, religião, escolhas
              de tecnologias, imagens sexuais em espaços públicos, intimidação deliberada, perseguição, <em>stalking</em>,
              fotografias ou filmagens constrangedoras, interrupção contínua das apresentações ou outros eventos, contato
              físico inadequado e atenção sexual indesejada.
            </p>

            <p>
              Os participantes que receberem uma solicitação para interromper qualquer comportamento de assédio devem fazê-lo imediatamente.
            </p>

            <p>
              Os patrocinadores também estão sujeitos às políticas antiassédio. Particularmente, os patrocinadores
              não devem usar imagens, atividades ou outro material de cunho sexual. As equipes de estandes e tendas
              (incluindo voluntários), palestrantes ou participantes, não devem utilizar roupas, uniformes ou trajes sexualizados ou de outra forma
              criar um ambiente sexualizado.
            </p>

            <p>
              Se um participante se envolve em comportamento de assédio, os organizadores da conferência podem tomar
              todas as medidas que considerem adequadas, incluindo avisar o ofensor ou expulsá-lo da conferência sem
              nenhum reembolso.
            </p>

            <p>
              Caso seja assediado, perceba que alguém está sendo assediado ou tenha alguma dúvida, entre
              em contato com um membro da equipe da conferência imediatamente. Membros da equipe da conferência podem ser
              identificados pois estarão vestindo camisetas marcadas, ou com os devidos crachás de staff.<br/>
              Não tome atitudes por conta própria e denuncie a situação de forma discreta, a fim de mantermos a segurança de todos, a ordem, e o sigilo.
            </p>

            <p>
              A equipe da conferência estará disposta a auxiliar os participantes a contatarem a segurança do hotel ou
              local, assim como as devidas aplicações da lei local, fornecer escoltas ou ajudar aqueles que sofrerem
              assédio para que se sintam seguros pelo o decorrer da conferência. Nós valorizamos a sua participação e queremos que aproveite o máximo possível, sinta-se a vontade e em segurança, e acima de tudo, respeitado.
            </p>

            <p>
              Esperamos que os participantes sigam estas regras em salas de apresentação e workshops de cada conferência,
              além de eventos sociais relacionados, como after-parties, happy-hours ou jantares.
            </p>

            <div class="footer">
              <p><small><em>Crédito e fonte original: <a href="http://confcodeofconduct.com/">http://confcodeofconduct.com/</a> &amp; <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">The Ada Initiative</a><br>

            Por favor, ajude a traduzir ou a melhorar: <a href="https://github.com/leftlogic/confcodeofconduct.com">http://github.com/leftlogic/confcodeofconduct.com</a><br>

            Esta obra está licenciada sob <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a></em></small>

            </p>
            </div>
        </section>




        <section id="coc-en-US">
            <h1>BrazilJS Filiated Conferences Code of Conduct</h1>

            <p>All attendees, speakers, sponsors and volunteers at our conference are required to agree with the following code of conduct. Organisers will enforce this code throughout the event. We are expecting cooperation from all participants to help ensuring a safe environment for everybody.</p>

            <h2>Need Help?</h2>

            <p>In case you have any question or suggestion, get in touch via e-mail with any of the organizers of the current conference, or with <a href="mailto:ping@nasc.tio">ping@nasc.io</a>.</p>

            <h2>The Quick Version (tl;dr)</h2>

            <p>Our conference is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion (or lack thereof), or technology choices. We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks, workshops, parties, Twitter and other online media. Conference participants violating these rules may be sanctioned or expelled from the conference <em>without a refund</em> at the discretion of the conference organisers.</p>

            <h2>The Less Quick Version</h2>

            <p>Harassment includes offensive verbal comments related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion, technology choices, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>

            <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>

            <p>Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualised images, activities, or other material. Booth staff (including volunteers), speakers or attendees should not use sexualised clothing/uniforms/costumes, or otherwise create a sexualised environment.</p>

            <p>If a participant engages in harassing behavior, the conference organisers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund.</p>

            <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. Conference staff can be identified as they&#39;ll be wearing branded t-shirts.</p>

            <p>Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.</p>

            <p>We expect participants to follow these rules at conference and workshop venues and conference-related social events.</p>

            <div class="footer">
            <p><small><em>Original source and credit: <a href="http://confcodeofconduct.com/">http://confcodeofconduct.com/</a> &amp; <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">The Ada Initiative</a><br>

            Please help by translating or improving: <a href="https://github.com/leftlogic/confcodeofconduct.com">http://github.com/leftlogic/confcodeofconduct.com</a><br>

            This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a></em></small>

            </p>
            </div>
        </section>

        <section id="coc-es">
            <h1>Código de Conducta de las Conferencias afiliada a BrazilJS</h1>

            <p>A todos los asistentes, ponentes, patrocinadores y voluntarios de nuestra
conferencia se requiere que acepten el siguiente código de conducta. Los
organizadores harán cumplir este código a lo largo del evento. Esperamos la
colaboración de todos los participantes para ayudar a asegurar un ambiente
seguro para todos.</p>

            <h2>¿Necesita ayuda?</h2>

            <p>Si tienes alguna pregunta o sugerencia, por favor, póngase en contacto con cualquiera de los organizadores de la conferencia de que se trate, o en el e-mail<a href="mailto:ping@nasc.tio">ping@nasc.io</a>.</p>

            <h2>La versión rápida (tl;dr)</h2>

            <p>Tanto BrazilJS como todas las conferencias afiliadas están dedicados a
proporcionar una experiencia libre de abuso para todos independientemente de
su género, orientación sexual, discapacidad, apariencia física, talla, raza, etnia o
religión (así como su ausencia) o campo tecnológico. No toleramos abusos de los
participantes de la conferencia en ninguna de sus formas. El lenguaje e
imágenes sexuales no son apropiados para ninguna sala de la conferencia,
incluyendo charlas, talleres, fiestas, Twitter y otros medios online. Los
participantes de la conferencia que violen estas reglas pueden ser sancionados o
expulsados de la misma <em>sin reembolso</em> a criterio de los organizadores.</p>

            <p>El castigo puede extenderse de la expulsión de la conferencia en curso del
participante, que ser expulsado de su próxima edición, o incluso los otros
eventos afiliados.</p>

            <h2>Versión detallada</h2>

            <p>Los abusos incluyen: comentarios ofensivos relativos a género, edad,
orientación sexual, discapacidad, apariencia física, talla, raza, etnia, religión,
campo tecnológico, imágenes sexuales en espacios públicos, intimidación
deliberada, acoso, stalking, fotografía o grabación de abusos, interrupciones
continuadas de charlas u otros eventos, contacto físico inapropiado y atención
sexual no deseada.</p>

            <p>Se espera que los participantes instados a parar cualquier comportamiento
abusivo obedezcan inmediatamente.</p>

            <p>Los patrocinadores también están sujetos a la política contra abusos. En
particular, los patrocinadores no deberían utilizar imágenes, actividades u otro
material con contenido sexual. El personal de los puestos (voluntarios incluidos)
no debería usar ropa/uniformes/disfraces sexualizados, o que de otra manera
crean un ambiente sexualizado.</p>

            <p>Si un participante incurre en un comportamiento abusivo, los organizadores de
la conferencia pueden tomar cualquier acción que estimen oportuna, incluyendo
advertencias al ofensor o su expulsión de la conferencia sin reembolso.</p>

            <p>Si estás sufriendo algún abuso, adviertes abusos sobre otra persona, o tienes
alguna otra preocupación, por favor contacta con algún miembro del personal
de la conferencia inmediatamente. Los miembros del equipo de la conferencia
pueden ser identificados, ya que vestirán camisetas del evento y/o placas de
staff. No tome medidas por su cuenta y informe la situación discretamente, con
el fin de mantener la seguridad de todos, el orden y la confidencialidad.</p>

            <p>El personal de la conferencia estará contento de ayudar a los participates a
contactar con la seguridad del hotel/sala o con las autoridades locales, proveer
escolta o asistir de otra manera a aquellos que estén sufriendo abusos para que
se sientan seguros mientras dure la conferencia. Valoramos su participación y
queremos que disfrute tanto como sea posible, que se sienta cómodo y seguro, y
sobre todo, respetado.</p>

            <p>Esperamos que los participantes sigan estas reglas en la conferencia en salas de
presentaciones y talleres de cada conferencia, así como eventos sociales
relacionados, como after-parties, happy hours y cenas.</p>

            <div class="footer">
            <p><small><em>Original source and credit: <a href="http://confcodeofconduct.com/">http://confcodeofconduct.com/</a> &amp; <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">The Ada Initiative</a><br>

            Please help by translating or improving: <a href="https://github.com/leftlogic/confcodeofconduct.com">http://github.com/leftlogic/confcodeofconduct.com</a><br>

            This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a></em></small>

            </p>
            </div>
        </section>

    </div>
</div>

<script>
    document.getElementById('slct-lang').addEventListener('change', function(){
        var el = null;
        if(this.value == 'pt-BR') {
            el = document.getElementById('coc-en-US').style.display = 'none';
            el = document.getElementById('coc-es').style.display    = 'none';
            el = document.getElementById('coc-pt-BR').style.display = 'block';
        }else if(this.value == 'es-LATAM') {
            el = document.getElementById('coc-en-US').style.display = 'none';
            el = document.getElementById('coc-es').style.display    = 'block';
            el = document.getElementById('coc-pt-BR').style.display = 'none';
        }else{
            el = document.getElementById('coc-en-US').style.display = 'block';
            el = document.getElementById('coc-es').style.display    = 'none';
            el = document.getElementById('coc-pt-BR').style.display = 'none';
        }
    });
</script>

{% endblock %}
