{% extends "templates/layouts/default-new.html" %}

{% block main %}
	<div class="wrapper style1">
		<div class="container">
			O <strong>BrazilJS</strong> é um projeto criado por <a href="http://felipenmoura.com/" target="blank">Felipe Moura</a> e <a href="http://jaydson.org/" target="blank">Jaydson Gomes</a>, participantes ativos da comunidade e apaixonados por tecnologia.<br/>
			Os sócios fundadores atuam no mercado de tecnologia há mais de 12 anos, e no mercado de eventos há mais de 6 anos.<br/>
			Sinta-se a vontade para segui-los, ou entrar em contato diretamente com eles.<br/>
			<br/>
			<div class="row">
				<div class="4u 12u(narrower)">
					<em><strong>Felipe Moura:</strong></em>
					<ul>
						<li>Twitter: <a href="http://twitter.com/felipenmoura" target="blank">@felipenmoura</a></li>
						<li>Github: <a href="http://github.com/felipenmoura" target="blank">github.com/felipenmoura</a></li>
						<li>Facebook: <a href="http://fb.com/felipenmoura" target="blank">fb.com/felipenmoura</a></li>
						<li>Site: <a href="http://felipenmoura.com/" target="blank">http://felipenmoura.com</a></li>
						<li>E-mail: <a href="mailto:felipe@nasc.io">felipe@nasc.io</a></li>
					</ul>
				</div>
				<div class="4u 12u(narrower)">
					<em><strong>Jaydson Gomes:</strong></em>
					<ul>
						<li>Twitter: <a href="http://twitter.com/jaydson" target="blank">@jaydson</a></li>
						<li>Github: <a href="http://github.com/jaydson" target="blank">github.com/jaydson</a></li>
						<li>Facebook: <a href="http://fb.com/jaydson" target="blank">fb.com/jaydson</a></li>
						<li>Site: <a href="http://jaydson.org/" target="blank">http://jaydson.org</a></li>
						<li>E-mail: <a href="mailto:jaydson@nasc.io">jaydson@nasc.io</a></li>
					</ul>
				</div>
			</div>

			A empresa resposnável por manter este projeto é a <a href="http://nasc.io/" target="blank">Nasc</a>.<br/>
			É pela Nasc que produzimos contratos, geramos notas fiscais e lidamos com toda a burocracia necessária.<br/>
			A Nasc também é bastante transparente e acessível, sinta-se a vontade para entrar em contato:
			<br/>
			<br/>
			<div class="4u 12u(narrower)">
				<em><strong>Nasc:</strong></em>
				<ul>
					<li>Github: <a href="http://github.com/naschq" target="blank">github.com/naschq</a></li>
					<li>Site: <a href="http://nasc.io/" target="blank">http://nasc.io/</a></li>
					<li>Contato geral: <a href="mailto:ping@nasc.io">ping@nasc.io</a></li>
					<li>Setor jurídico: <a href="mailto:juridico@nasc.io">juridico@nasc.io</a></li>
					<li>Eventos: <a href="mailto:eventos@nasc.io">eventos@nasc.io</a></li>
				</ul>
			</div>

					Se preferir, use o formulário no rodapé de nossas páginas, para entrar em contato.
		</div>

	</div>
{% endblock %}
