{% extends "templates/layouts/default-new.html" %}

{% block main %}
    <div class="wrapper style1">
        <div class="container">
            <div class="row">
                <div class="3u 12u(narrower)">
                    <a href="#faq-braziljs-conf">BrazilJS Conference</a><br/>
                    <a href="#faq-party">Festa</a><br/>
                    <a href="#faq-afiliados">Afiliados</a><br/>
                    <a href="#faq-institucional">Institucional</a>
                </div>
                <div class="9u 12u(narrower)">
                    <section>
                        <h3 id="faq-braziljs-conf">
                            BrazilJS Conference
                        </h3>
                        <a href="#q1" id="q1">O ingresso é válido para os dois dias de evento?</a>
                        <p>Sim, ao comprar o ingresso, sua inscrição está garantida para os dois dias.</p>

                        <a href="#q2" id="q2">Não poderei ir em um dos dias, posso pagar metade?</a>
                        <p>Infelizmente não. Ao comprar o ingresso, reservamos a sua cadeira para os dois dias.</p>

                        <a href="#q3" id="q3">Comprei o ingresso mas não poderei mais ir no evento, o que faço?</a>
                        <p>
                            Imprevistos acontecem, entendemos isso.<br>
                            Para compras antecipadas (Fevereiro até Junho de 2016), é possível solicitar o cancelamento do ingresso até 60 dias antes do evento (26 de Junho).<br>
                            Para compras feitas durante os 60 dias anteriores ao evento (de 26 de Junho até 16 de Agosto), só será possível cancelar um ingresso no período de 10 dias após a compra.<br>
                            Para efetivar o cancelamento, abra um chamado na <a href="https://www.eventick.com.br">Eventick</a>, nossa plataforma de ingressos.<br>
                            Para maiores detalhes, você pode entrar em contato conosco pelo email <a href="mailto:eventos@nasc.io">eventos@nasc.io</a><br>
                            Considere  aopção de transferir o seu ingresso para outra pessoa. É bem mais simples e rápido, você mesmo pode fazer no mesmo local onde comprou o seu ingresso, na Eventick. Basta se logar e alterar os dados do participante</p>

                        <a href="#q4" id="q4">Sou estudante, tenho desconto?</a>
                        <p>Sim, ao fazer a compra, selecione o tipo de ingresso designado para estudantes.<br/>
                        A meia entrada é um benefício somente para estudantes, e para garantir isso, no dia do evento será exigida a carteira de estudante (com data de vencimento) ou o comprovante de matrícula do semestre. A não apresentação da comprovação anulará o ingresso de estudante. Dessa forma, não será autorizada a entrada no evento ou será exigido o pagamento do valor total do ingresso.</p>

                        <a href="#q5" id="q5">Preciso de ajuda para convencer minha empresa a me liberar para o evento!</a>
                        <p>Não tema! A BrazilJS te dá uma mão!<br/>Passe para ele(a) este link: <a href="https://gist.github.com/felipenmoura/cdb1f53200e927cf3a79">Convença seu chefe</a>.</p>

                        <a href="#q8" id="q8">Tenho um grupo de amigos querendo ir, mereço um desconto?</a>
                        <p>Com certeza! Envie um e-mail para <a href="mailto:eventos@nasc.io">eventos@nasc.io</a> falando de onde vem o seu grupo e quantas são as pessoas. Conseguimos gerar cupons de desconto para grupos de 4 ou mais pessoas.</p>

                        <a href="#q9" id="q9">Devo mesmo ler e concordar com o código de conduta?</a>
                        <p>SIM, VOCÊ DEVE!<br/>Leia e esteja ciente de nosso <a href="/coc">código de conduta</a>, isto garante que tanto você quanto todos os demais participantes, palestrantes, organizadores, patrocinadores, promoters e fornecedores promovam e estejam em um ambiente seguro.<br>
                        A leitura do artigo "Código de conduta BrazilJS 2016" (<a href="https://braziljs.org/blog/codigo-de-conduta-braziljs-2016/">https://braziljs.org/blog/codigo-de-conduta-braziljs-2016/</a>) é altamente recomendada.</p>

                        <a href="#q10" id="q10">Identifiquei uma possível quebra no código de conduta, o que faço?</a>
                        <p>Entre imediatamente em contato com a organização/judírico do evento utilizando qualquer um dos nossos meios.<br/>
                        A leitura do artigo "Código de conduta BrazilJS 2016" (<a href="https://braziljs.org/blog/codigo-de-conduta-braziljs-2016/">https://braziljs.org/blog/codigo-de-conduta-braziljs-2016/</a>) é altamente recomendada.<br>
                        Nosso retorno e atitude acontecerá o mais rápido possível.</p>

                        <a href="#q12" id="q12">Onde posso ter acesso a uma lista de hotéis ou hostels na região do evento?</a>
                        <p>Temos o costume de colocar no site uma lista dos hotéis mais confiáveis, próximos e com valores acessíveis.<br/>Algumas vezes conseguimos promoções com estes hotéis e o preço pode ficar mais barato.<br/>Se você precisa desta lista agora e ela ainda não está no site, confira <a href="https://gist.github.com/jaydson/c44c60a26edff19d45fe">esta lista de hotéis </a>nas proximidades da BrazilJS(os valores estão desatualizados).</p>

                    </section>

                    <section>
                        <h3 id="faq-party">
                            Festa
                        </h3>
                        <a href="#q11" id="q11">Sou menor de idade, posso ir à festa pós evento?</a>
                        <p>Pode participar da festa, mas não poderá ingerir bebidas alcoólicas.<br/>Caso alguém pegue bebida alcoólica para você, este alguém será responsabilizado.</p>

                        <a href="#q6" id="q6">Vou para o evento, mas gostaria de levar namorada(o) para a festa, posso?</a>
                        <p>Pode sim, só lembre de comprar o ingresso para a festa, para a pessoa poder participar.</p>

                        <a href="#q13" id="q13">Até que horas a festa vai?</a>
                        <p>A noite é uma criança, mas todos ficamos cansados após o evento. Normalmente, a festa durará em torno de três horas.</p>

                    </section>

                    <section>
                        <h3 id="faq-afiliados">
                            Afiliados
                        </h3>
                        <a href="#q14" id="q14">Organizo um evento e quero filia-lo...como faço?</a>
                        <p>Ótimo! Envie um e-mail para <a href="mailto:eventos@nasc.io">eventos@nasc.io</a> e nós te passaremos os passos para submeter o teu evento para filiação.</p>

                        <a href="#q15" id="q15">Qualquer evento pode se filiar?</a>
                        <p>É feita uma triagem, visamos muito a qualidade dos eventos, dedicação dos organizadores e o bem para comunidade.</p>
                    </section>

                    <section>
                        <h3 id="faq-institucional">
                            Institucional
                        </h3>
                        <a href="#q6" id="q6">Preciso de nota fiscal, e agora?</a>
                        <p>Sem problemas, envie um e-mail para <a href="mailto:eventos@nasc.io">eventos@nasc.io</a> solicitando, que lhe enviaremos.</p>

                        <a href="#q7" id="q7">O evento dá Certificado de participação?</a>
                        <p>Sim, após o evento, um certificado virtual é disponibilizado para todos os participantes.<br/>Um e-mail com detalhes de como adiquiri-lo será enviado após o evento.</p>

                        <a href="#q16" id="q16">Qual a carga horária?</a>
                        <p>Normalmente nossa carga horária é de 8 horas por dia, totalizando 16 horas de evento. Algumas vezes temos também workshops, cuja inscrição é feita à parte, e a carga horária pode variar entre 4, 6 ou 8 horas.</p>

                        <a href="#q16" id="q16">Quero patrocinar um ou mais programas da BrazilJS, como faço?</a>
                        <p>Maravilha! Entre em contato conosco em <a href="mailto:eventos@nasc.io">eventos@nasc.io</a> que teremos prazer em lhe passar as informações sobre os benefícios e o investimento.</p>
                    </section>
                </div>
            </div>
            Caso sua pergunta não tenha sido respondida por esta FAQ, entre em contato conosco pelos e-mails <a href="mailto:eventos@nasc.io">eventos@nasc.io</a> ou <a href="mailto:ping@nasc.io">ping@nasc.io</a>, ou pelo formulário abaixo.<br/>
            Além disto, nós também temos um tempo de resposta bastante hábil em nossas redes sociais:<br/>
            <ul>
                <a href="https://twitter.com/braziljs" target="blank">Twitter</a><br/>
                <a href="https://fb.com/braziljs" target="blank">Facebook</a><br/>
                <a href="https://braziljs-slack.herokuapp.com/" target="blank">Slack</a><br/>
            </ul>
        </div>
    </div>

{% endblock %}
