{% extends "templates/layouts/default-new.html" %}

{% block main %}
    <div class="wrapper style1">
        <div class="container">
            Existem diversas vantagens para os organizadores de eventos como você.<br/>
            Informe-se mais na página <a href="/programa-afiliados">"Programa Afiliados"</a>, ou para dúvidas ou sugestões, entre em contato com <a href="mailto:eventos@nasc.io">eventos@nasc.io</a>.<br/>
            Para que seu evento seja um dos eventos afiliados, precisamos que preencha o seguinte formulário:<br/>

            <a href="http://goo.gl/forms/hCbRDvaS9z">http://goo.gl/forms/hCbRDvaS9z</a>
            <br/>
            <br/>
            <br/>
        </div>
    </div>

{% endblock %}
