{% extends "templates/layouts/default-new.html" %}

{% block main %}

    <div id="imprensa" class="wrapper style1">
        <div class="container">
        	<div class="desc-img">
    			<img src="images/impresa-padrinho.png" alt="Padrinho Agência">
        	</div>
			Para assuntos de imprensa, temos uma assessoria de comunicação, a <a href="http://www.padrinhoconteudo.com" target="blank">Padrinho Agência de Conteúdo</a>.<br>
			Qualquer informação que você precisar, basta enviar um e-mail para <a href="mailto:press@nasc.io">press@nasc.io</a> que nossa equipe lhe responderá o mais rápido possível.<br>
        </div>
    </div>

{% endblock %}
