{% extends "templates/layouts/default-new.html" %}

{% block main %}

    <div class="wrapper style1" id="juridical">
        <div class="container">
        	<div class="desc-img">
    			<img src="images/akm-juridico.png" alt="AKM">
        	</div>
            A <a href="http://nasc.io/" target="blank">Nasc</a> conta com o time jurídico da <a href="http://akm.adv.br/" target="blank">AKM Advogados</a>.<br/>
            Levamos muito a sério todo trabalho jurídico necessário e visamos ao máximo, fazer tudo da forma correta e mais transparente possível.<br/>
            <br/>
            Para entrar em contato com nosso setor jurídico, por favor envie uma mensagem para <a href="mailto:juridico@nasc.io">juridico@nasc.io</a>.
            <br/><br/>
        </div>
    </div>

{% endblock %}
