{% extends "templates/layouts/default-new.html" %}

{% block main %}
    <div class="wrapper style1">
        <div class="container">
            Entre as vantagens de organizar um evento <a href="/filie-seu-evento">filiado à BrazilJS</a>, está a possibilidade de utilizar de nossas parcerias!<br/>
            Visite regularmente esta página para manter-se informado (também avisaremos os afiliados por e-mail, e no twitter, sobre novidades).<br/>
            <br/>
            Nossas parcerias envolvem desde benefícios como brindes e cortesias para sorteios, como descontos na contratação de serviços, mão de obra ou execução para seus eventos.

            <!--strong><span style="color:red;">TODO: ADD BENEFITS</span></strong-->
        </div>
    </div>

{% endblock %}
