{% extends "templates/layouts/default-new.html" %}

{% block main %}

    <div class="wrapper style1">
        <div class="container">
            <h3>
                Por que patrocinar um evento?
            </h3>
            Todos sabemos que eventos na área de tecnologia são fundamentais! Eles fomentam o mercado, renovam conhecimentos e ajudam na troca de experiências.<br/>
            Patrocinadores fazem toda a diferença na hora de produzir um evento com qualidade!<br/>
            <br/>
            Estes eventos proporcionam ao patrocinador, uma oportunidade única de se aproximar da comunidade de desenvolvedores, ou empresários.<br/>
            <br/>
            Alguns dos eventos atraem participantes de todo o país, e em alguns casos, de outros países também.<br/>
            Já outros eventos são mais focados em determinada região.<br/>
            <br/>
            Nós trazemos algumas alternativas para opções de patrocínio.<br/>
            <br/>
            <h3>
                O que patrocinar?
            </h3>
            O primeiro passo é saber o seu objetivo!<br/>
            Alguns patrocinadores estão visando aproximação com a comunidade, outros buscam por feedback e testadores.<br/>
            Alguns, buscam por novos usuários ou clientes, enquanto existem aqueles que querem aumentar o reconhecimento de sua marca, em determinada região.<br/>
            <br/>
            Com estas informações, poderemos encontrar a combinação ideal!<br/>
            <br/>
            <h3>
                Modalidades e produtos/serviços
            </h3>
            <div>
                Temos uma variedade de opções para quem quer divulgar e fortalecer sua marca entre os desenvolvedores brasileiros, e empresários do meio tecnológico.<br/>
                Há formas dinâmicas de patrocínio, para um único evento ou para um pacote de eventos.<br/>
                Entre as vantagens disto, estão a certeza de que sua marca estará presente em diversos eventos, seguindo um padrão de qualidade, burocracria minimizada, foco em eventos de determinada região, etc.<br/>
                <br/>
                Além disto, temos outros produtos e serviços que podem ser patrocinados, como cursos e treinamentos, a BrazilJS Weekly, nossos canais no youtube, facebook e twitter, entre outros.
            </div>

            <h3>
                Saiba mais
            </h3>
            <div>
                Para saber de maiores detalhes, tirar dúvidas ou enviar alguma sugestão ou proposta, não deixe de entrar em contato:<br/>
                <a href="mailto:eventos@nasc.io">eventos@nasc.io</a>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>

        </div>
    </div>

{% endblock %}
