{% extends "templates/layouts/default-new.html" %}

{% block main %}
    <div class="wrapper style1">
        <div class="container">
            Temos alguns serviços e produtos que precisam de sua ajuda para continuar existindo!<br/>
            E com certeza, podemos ajudar sua marca e empresa a crescer, fortalecer-se e destacar-se entre os desenvolvedores.

            <article>
                <h3 id="youtube">
                    Canal no Youtube
                </h3>
                Temos um canal no youtube com mais de 3 mil inscritos, onde estamos sempre postando vídeos com novidades.<br/>
                A idéia deste canal é ter sempre novidades da semana, entrevistas, tutoriais e outros vídeos técnicos.<br/>
                Entre em contato conosco para saber mais sobre como patrocinar nosso canal do Youtube, em <a href="mailto:ping@nasc.io">ping@nasc.io</a>.
            </article>

            <article>
                <h3 id="weekly">
                    BrazilJS Weekly
                </h3>
                Trata-se de um e-mail semanal, abordando novidades, notícias e destaques das tecnologias focadas em JavaScript, ou relacionadas, sempre ligadas à web.<br/>
                Hoje, contamos com cerca de 8 mil inscritos, todos desenvolvedores web, distribuídos por todo o Brasil.<br/>
                Entre em contato conosco para saber mais sobre como patrocinar a BrazilJS Weekly, em <a href="mailto:ping@nasc.io">ping@nasc.io</a>.
            </article>

            <article>
                <h3 id="fb-tt">
                    Facebook e Twitter
                </h3>
                Tentamos manter nossas redes sociais ativas e úteis, sempre com conteúdos relevantes e atualizados.<br/>
                Entre em contato conosco para saber mais sobre como patrocinar a BrazilJS em suas redes sociais, por meio do e-mail <a href="mailto:ping@nasc.io">ping@nasc.io</a>.
            </article>

            <!--article>
                <h3 id="ch9">
                    Channel 9
                </h3>
                A Microsoft nos patrocina com este excelente projeto, onde conseguimos filmar com qualidade diversos eventos pelo Brasil, e disponibilizar as grafações gratuitamente por meio do <a href="http://channel9.com/">channel9.com.<br/>
            </article-->

        </div>
    </div>
{% endblock %}
