{% extends "templates/layouts/default-new.html" %}

{% block main %}
    <div class="wrapper style1">
        <div class="container">
        	<h2><a id="Objetivo_do_programa_0"></a>Objetivo do programa</h2>
				<p>O programa de afiliados BrazilJS tem um objetivo simples: Fomentar ainda mais as tecnologias Front-end no Brasil.<br>
				E como faremos isso?<br>
				Trabalhando diretamente com os organizadores de eventos, fornecendo consultoria na concepção, organização e realização.<br>
				Mas isso não é o suficiente.<br>
				O BrazilJS irá contribuir financeiramente, fazendo com que o organizador foque na organização do evento, sem a preocupação financeira.<br>
				Além disso, o BrazilJS irá contribuir com uma série de benefícios que ajudarão a tornar a experiência do evento ainda melhor.<br>
				Todo evento precisa de crachá, certo? Adesivos são sempre legais também! Camisetas para sortear para os participantes?<br>
				Tudo isso será distribuído para todos os eventos afiliados.<br>
				Legal né? Mas não pararmos por aí. Este é apenas o primeiro passo.<br><br>
				A lista atual de benefícios para os eventos afiliados:</p>
				<ul>
				<li>Apoio financeiro para a realização do evento (variável de acordo com o teto anual)</li>
				<li>Divulgação nos canais da BrazilJS</li>
				<li>Possibilidade de envio de itens para o evento, como crachás, adesivos, camisetas, etc</li>
				<li>Consultoria na organização do evento</li>
				<li>Acesso a potenciais palestrantes sugeridos pelas empresas afiliadas</li>
				<li>Selo de qualidade BrazilJS</li>
				<li>Acesso a serviços e produtos BrazilJS (taxas especiais, sistemas de administração, etc)</li>
				<li>Redução de burocracia e impostos</li>
				<li>Fazer parte da rede de afiliados BrazilJS</li>
				</ul>
				<h2><a id="Histrico_21"></a>Histórico</h2>
				<p>A BrazilJS Conf surgiu em <a href="/conf/2011">2011</a>, em uma época onde poucos eventos Web existiam no Brasil.<br>
				Em pouco tempo a BrazilJS Conf se tornou o principal evento JavaScript nacional e o maior do mundo, contando com mais de 5.000 participantes em suas 5 edições.<br>
				Com o sucesso do primeiro evento, outros eventos começaram a surgir em todo o Brasil.<br>
				Atualmente mais de 40 eventos regionais acontecem ao longo do ano em todo o Brasil, atingindo em média 8.000 participantes.</p>
				<h2><a id="Patrocinador_27"></a>Patrocinador</h2>
				<p>Para a empresa interessada em patrocinar esse grupo de eventos, o programa de afiliados funciona como curadoria.<br>
				Se tornar um afiliado BrazilJS garante ao patrocinador a participação nos melhores eventos Web do Brasil.<br>
				Sendo afiliada, a empresa consegue focar no que for necessário para expor sua marca da melhor maneira possível no evento, deixando a burocracia de lado.</p>
				<h2><a id="Organizador_do_evento_32"></a>Organizador do evento</h2>
				<p>Para o organizador de eventos, ser um afiliado BrazilJS significa se preocupar menos com o financiamento do evento.<br>
				O organizador pode focar em fazer o melhor evento possível, com os melhores recursos.</p>
				<h2><a id="Futuro_36"></a>Futuro</h2>
				<p>Nossa missão está apenas começando. Mais benefícios estão por vir!<br>
				Estamos trabalhando juntamente com os patrocinadores para conseguir cada vez mais itens que possam ajudar os eventos regionais.<br>
				2016 é início de um projeto ambicioso, e contamos com a ajuda da comunidade e dos organizadores do evento para tornar isso realidade.</p>
				<h2><a id="Faa_parte_41"></a>Faça parte</h2>
				<p>Você já é um organizador?<br>
				<a href="https://docs.google.com/forms/d/1XLHbGr1JqaH-OR9wwmCWAQCdWANs9k1qfR_RsGIntJs/viewform">Cadastra-se e faça parte do programa!</a>
				Você quer ser um organizador? Sente a falta de um evento na sua região? Entre em <a href="mailto:eventos@nasc.io">contato conosco!</a> Faremos o possível para tornar isso realidade.<br>
				Trabalhando juntos construiremos uma comunidade ainda mais rica de eventos legais para todos.</p>

        </div>
    </div>

{% endblock %}
