{% extends "templates/layouts/default-new.html" %}

{% block main %}
    <div class="wrapper style1">
        <div class="container">

        	<p>
        		O que é o <strong>BrazilJS</strong>? <br /><br />
				O <strong>BrazilJS</strong> nasceu como uma conferência JavaScript, mas hoje somos mais do que isso.<br />
				Nascemos junto com a comunidade Front-end no Brasil. Crescemos e amadurecemos juntos.<br <br />
				Passamos por algumas transições ao longo dos anos, o que é natural, mas hoje podemos dizer exatamente o que somos.<br /><br />
				O <strong>BrazilJS</strong> é uma iniciativa da <a href="http://nasc.io">Nasc</a>, empresa dos<br /> criadores da BrazilJS Conf (<a href="http://jaydson.org">Jaydson N. Gomes</a> e <a href="http://felipenmoura.com">Felipe N. Moura</a>).<br /><br />
				Essa iniciativa tem como objetivo trabalhar para e com a comunidade Front-end no Brasil.<br />
				Mas como?<br />
				Com projetos como o <a href="/programa-afiliados">Programa de Afiliados</a>, o <a href="/">Portal BrazilJS</a>, a <a href="/#weekly">BrazilJS Weekly</a> em texto e em vídeo, a <a href="/conf">BrazilJS Conf</a>, entre outros que surgirão com o tempo.<br /><br />

				Estamos muito empolgados, 2016 será um ano e tanto, e contamos com todos vocês para fazer tudo isso acontecer.<br />

				Têm alguma dúvida, ideia ou sugestão? Entre em contato conosco :)<br />
        	</p>

        </div>
    </div>

{% endblock %}
