@charset "utf-8";
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html,button,input,select,textarea{font-family:sans-serif;color:#222;}
body{margin:0;font-size:1em;line-height:1.3;}
::-moz-selection{background:#b3d4fc;text-shadow:none;}
::selection{background:#b3d4fc;text-shadow:none;}
a{color:#00e;}
a:visited{color:#551a8b;}
a:hover{color:#06e;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}
abbr[title],dfn[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
ins{background:#ff9;color:#000;text-decoration:none;}
mark{background:#ff0;color:#000;font-style:italic;font-weight:bold;}
pre,code,kbd,samp{font-family:monospace, serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:"";content:none;}
small{font-size:85%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
ul,ol{list-style:none;list-style-image:none;}
img{-ms-interpolation-mode:bicubic;vertical-align:middle;}
svg:not(:root){overflow:hidden;}
legend{border:0;*margin-left:-7px;padding:0;white-space:normal;}
button,input,select,textarea{font-size:100%;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*width:13px;*height:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;resize:vertical;}
input:invalid,textarea:invalid{background-color:#f0dddd;}
table{border-collapse:collapse;border-spacing:0;}
td{vertical-align:top;}
.IR{display:block;font:0/0 a;text-shadow:none;color:transparent;background-color:transparent;}
.hidden{display:none !important;visibility:hidden;}
.vhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.vhidden.focusable:active,.vhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
@media print{*{background:transparent !important;color:black !important;box-shadow:none !important;text-shadow:none !important;} a,a:visited{text-decoration:underline;} a[href]:after{content:" (" attr(href) ")";} abbr[title]:after{content:" (" attr(title) ")";} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";} pre,blockquote{border:1px solid #999;page-break-inside:avoid;} thead{display:table-header-group;} tr,img{page-break-inside:avoid;} img{max-width:100% !important;} @page {margin:0.5cm;}p,h2,h3{orphans:3;widows:3;} h2,h3{page-break-after:avoid;}}@font-face{font-family:'League Gothic';src:url('../fonts/League_Gothic-webfont.eot');src:url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/League_Gothic-webfont.woff') format('woff'),url('../fonts/League_Gothic-webfont.ttf') format('truetype');font-weight:normal;font-style:normal;}html,body{min-height:100%;}
html{height:100%;background:url(../images/porto-alegre.jpg) no-repeat fixed center top;background-size:cover;min-width:320px;}
body{max-width:980px;margin:0 auto;color:#324340;font-family:"League Gothic",sans-serif;text-align:center;color:#e6fffd;text-shadow:0 1px 6px rgba(0, 0, 0, 0.1);}
a{text-decoration:none;}
h1,h2,h3,h4,h5{font-family:"League Gothic",sans-serif;font-weight:400;text-transform:uppercase;}
@-webkit-keyframes fadein{0%{opacity:0;} 100%{opacity:1;}}@-moz-keyframes fadein{0%{opacity:0;} 100%{opacity:1;}}@-ms-keyframes fadein{0%{opacity:0;} 100%{opacity:1;}}@-o-keyframes fadein{0%{opacity:0;} 100%{opacity:1;}}@keyframes fadein{0%{opacity:0;} 100%{opacity:1;}}.header{position:relative;z-index:50;margin-top:6%;-webkit-animation:fadein 3s;-moz-animation:fadein 3s;animation:fadein 3s;}.header h1{margin:0 auto;}
.header h2{font-size:60px;text-transform:uppercase;font-weight:400;line-height:1.1;}.header h2 b{color:#c5f17f;font-weight:400;}
.text{position:absolute;top:65%;width:100%;max-width:980px;text-align:center;font-size:42px;line-height:1;-webkit-animation:fadein 3s;-moz-animation:fadein 3s;animation:fadein 3s;z-index:50;}
.line,.where{display:inline-block;*display:inline;*zoom:1;width:330px;vertical-align:top;}
.line{text-align:right;padding-right:17px;color:#c5f17f;text-transform:uppercase;}
.where{text-align:left;padding-left:17px;}
.share{clear:both;margin:20px auto 0;z-index:50;text-align:center;padding-left:32px;}.share li{width:114px;display:inline-block;}
.share .twitter a{font-size:20px;color:#e6fffd;}
.not-found{position:absolute;z-index:99;top:50%;left:50%;font:24px/1 "League Gothic",sans-serif;letter-spacing:1px;color:#e6fffd;text-transform:uppercase;text-align:center;width:300px;margin-left:-150px;background:rgba(0, 0, 0, 0.6);padding:7px 10px 5px 10px;}
@media only screen and (max-width:480px){.header img{width:80%;} .header h2{font-size:32px;} .line,.where{font-size:24px;}}@media only screen and (max-width:700px){.text{top:62%;} .line,.where{text-align:center;padding:0;margin-bottom:20px;display:block;margin:0 auto 20px;font-size:36px;}}@media only screen and (min-width:980px){.header h2{font-size:60px;} html,body{overflow-x:hidden;}}@media only screen and (max-device-width:480px){.header img{width:60%;} .header h2{font-size:24px;} .text{top:60%;} .line,.where{font-size:20px;display:inline-block;margin:0;width:auto;} .line{text-align:right;padding-left:10px;} .where{text-align:left;padding-right:10px;} .share{margin-top:10px;}}@media only screen and (min-width:321px) and (max-device-width:480px){.header img{width:40%;} .header h2{font-size:20px;} .text{top:58%;} .line,.where{font-size:18px;} .share{margin-top:0;}}.bg{position:fixed;top:0;right:0;bottom:0;left:0;z-index:9;overflow:hidden;}
.porto{position:absolute;left:0;width:100%;z-index:10;background-size:auto 100%;background-repeat:repeat-x;display:none;}
.p0{background-image:url(../images/sky.jpg);top:0;height:62%;z-index:1;}
.p1{background-image:url(../images/skyline.png);background-position:center center;top:0;height:66%;z-index:6;}
.p2{background-image:url(../images/water1.jpg);top:55%;height:10%;z-index:4;}
.p3{background-image:url(../images/water2.jpg);top:63%;height:16%;z-index:3;}
.p4{background-image:url(../images/water.jpg);top:78%;height:23%;z-index:2;}
