<section class="edicoes" id="edicoes">
	<div class="container-fluid carousel slide animate" id="carousel-edition" data-ride="carousel" data-interval="8000">
		<h3 class="white animate">
			{{ __('conf_carousel_2015') }} <span class="white" id="edition_title"> 2015</span>
		</h3>
		<a href="javascript:void(0)" class="arrow-slide prev-slide" data-slide="prev" data-target="#carousel-edition">
			<img src="/assets/images/arrow-prev.svg" alt="seta anterior slide">
		</a>
		<div id="edition_list" class="content-banner">

			<div class="row animate carousel-inner edition-inner ed_active" data-edition="edition-2015">
				<div class="slide item active">
					<div class="col-xs-6 img-slide">
						<img src="/assets/images/2015/always-bet-cake.jpg" alt="Always bet on JS Cake">
					</div>
					<div class="col-xs-6 img-slide">
						<img src="/assets/images/2015/with-brendan.jpg" alt="With Brendan Eich">
					</div>
				</div>
				<div class="slide item">
					<div class="col-xs-6 img-slide">
						<img src="/assets/images/2015/powers-rangers.jpg" alt="Power Rangers">
					</div>
					<div class="col-xs-6 img-slide">
						<img src="/assets/images/2015/speaker1.jpg" alt="Christian Heilmann">
					</div>
				</div>
				<div class="slide item">
					<div class="col-xs-6 img-slide">
						<img src="/assets/images/2015/speaker2.jpg" alt="Rafa Amorim">
					</div>
					<div class="col-xs-6 img-slide">
						<img src="/assets/images/2015/speaker3.jpg" alt="Reinaldo Ferraz">
					</div>
				</div>
				<div class="slide item">
					<div class="col-xs-6 img-slide">
						<img src="/assets/images/2015/talk1.jpg" alt="Talk BrazilJS">
					</div>
						<div class="col-xs-6 img-slide">
						<img src="/assets/images/img-mask-intro.jpg" alt="Crowd BrazilJS">
					</div>
				</div>
			</div>

			<div class="row animate carousel-inner edition-inner" data-edition="edition-2014">
				<div class="slide item">
					<div class="col-xs-6 img-slide">
						<img src="/assets/images/2014/2014-1.jpg" alt="BrazilJS 2014 1">
					</div>
					<div class="col-xs-6 img-slide">
						<img src="/assets/images/2014/2014-2.jpg" alt="BrazilJS 2014 2">
					</div>
				</div>
				<div class="slide item">
					<div class="col-xs-6 img-slide">
						<img src="/assets/images/2014/2014-3.jpg" alt="BrazilJS 2014 3">
					</div>
					<div class="col-xs-6 img-slide">
						<img src="/assets/images/2014/2014-4.jpg" alt="BrazilJS 2014 4">
					</div>
				</div>
			</div>

		</div>
		<a href="javascript:void(0)" class="arrow-slide next-slide" data-slide="next" data-target="#carousel-edition">
			<img src="/assets/images/arrow-next.svg" alt="seta próximo slide">
		</a>
	</div>
	<div class="edition-bullets animate" id="edition_bullets">
		<div>
			<a href="javascript:void(0)" data-edition="edition-2015" class="btn-edition button white-button">2015</a>
			<a href="javascript:void(0)" data-edition="edition-2014" class="btn-edition button white-button">2014</a>
		</div>
	</div>
</section>
