<footer class="animate">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<a href="https://braziljs.org/" class="button yellow-button">Braziljs Org</a>
				<a href="https://braziljs.org/coc" target="blank" class="button black-button">{{ __('conf_footer_coc') }}</a>
			</div>
			<div class="col-sm-7">
				<a href="/conf/2015" class="button gray-button">2015</a>
				<a href="/conf/2014" class="button gray-button">2014</a>
				<a href="/conf/2013" class="button gray-button">2013</a>
				<a href="/conf/2012" class="button gray-button">2012</a>
				<a href="/conf/2011" class="button gray-button">2011</a>
			</div>
			<div class="col-sm-5 txt-right credits">
				<span class="f-18">{{ __('conf_footer_design') }} <a class="red">Ítalo Waxman</a></span>
			</div>
		</div>
	</div>
</footer>
