<header class="animate" id="menu-nav">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="logo"><a href="#intro" title="Voltar ao início"><img src="/assets/images/braziljs.svg" alt="logo braziljs"></a></h1>
				<div class="main-menu hidden-xs">
					<nav class="menu">
						<div class="ul">
							<li class="item-menu"><a href="#palestrantes" class="blue">{{ __('conf_menu_item_speakers') }}</a></li>
							<li class="item-menu"><a href="#local" class="black">{{ __('conf_menu_item_venue') }}</a></li>
							<li class="item-menu"><a href="#programacao" class="red">{{ __('conf_menu_item_agenda') }}</a></li>
							<li class="item-menu"><a href="#manifesto" class="yellow">{{ __('conf_menu_item_manifest') }}</a></li>
							<li class="item-menu"><a href="#patrocinio" class="green">{{ __('conf_menu_item_sponsors') }}</a></li>
							<li class="item-menu"><a href="https://twitter.com/braziljs" target="_blank"><img src="/assets/images/twitter.svg" alt="logo twitter"></a></li>
							<li class="item-menu"><a href="https://www.facebook.com/braziljs" target="_blank"><img src="/assets/images/face.svg" alt="logo facebook"></a></li>
						</div>
					</nav>
					<div class="flags">
						<a href="/conf?lang=pt" title="Português" class="active">PT</a> |
						<a href="/conf?lang=en" title="Inglês">EN</a> |
						<a href="/conf?lang=es" title="Espanhol">ES</a>
					</div>
				</div>
				<div id="menu-trigger" ></div>
			</div>
		</div>
	</div>
</header>
