<section class="highlights">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4 highlight-block animate">
				<div class="info-highlight highlight-block vertical-centering">
					<h4 class="centering">
						<span class="white">02</span>
						<span class="white">{{ __('conf_highlight_day') }}</span>
					</h4>
					<img src="/assets/images/img-highlight-1.jpg" alt="imagem highlight">
				</div>
			</div>
			<div class="col-sm-4 highlight-block animate">
				<div class="info-highlight highlight-block vertical-centering">
					<h4 class="centering">
						<span class="white">20+</span>
						<span class="white">{{ __('conf_highlight_talks') }}</span>
					</h4>
					<img src="/assets/images/img-highlight-2.jpg" alt="imagem highlight">
				</div>
			</div>
			<div class="col-sm-4 highlight-block animate">
				<div class="info-highlight highlight-block vertical-centering">
					<h4 class="centering">
						<span class="white">1500+</span>
						<span class="white">{{ __('conf_highlight_people') }}</span>
					</h4>
					<img src="/assets/images/img-highlight-3.jpg" alt="imagem highlight">
				</div>
			</div>
		</div>
	</div>
</section>
