<section class="intro vertical-centering animate" id="intro">
	<div class="fixed-buttons">
		<!--a href="javascript: window.open('https://twitter.com/intent/tweet?hashtags=braziljs,javascript&text=BrazilJS 2016, o maior evento JavaScript do mundo! Via @braziljs'); void(0);"
		   class="twitter-btn"></a-->
		<a href="http://www.eventick.com.br/braziljs-2016" class="fixed-ticket green-button f-24">{{ __('conf_buy_the_tickets') }}</a>
		<a href="https://braziljs.org/coc" class="fixed-ticket black-button f-24">Código de Conduta</a>
		<!--a href="javascript: window.open('http://www.facebook.com/share.php?u=https://braziljs.org/conf&title=BrazilJS 2016, o maior evento JavaScript do mundo!'); void(0);"
		   class="facebook-btn"></a-->
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="info-intro centering">
					<div class="date">
						<span class="red">{{ __('conf_the_date') }}</span>
						<span>Porto Alegre</span>
					</div>
					<h2 class="clip-title headline">
						<span>{{ __('conf_main_title_1') }}</span>
						<span>{{ __('conf_main_title_2') }}</span>
						<span>{{ __('conf_main_title_3') }}</span>
						<span>{{ __('conf_main_title_4') }}</span>
					</h2>
<!-- 					<a href="http://www.eventick.com.br/braziljs-2016" class="intro-button">
						<span class="f-60 green">{{ __('conf_buy_the_tickets') }}</span>
						<span class="f-24 dark-green">{{ __('conf_last_batch') }}</span>
					</a> -->
				</div>
			</div>
		</div>
	</div>
</section>
