<section class="local">
	<div class="container">
		<div class="row">
			<div class="col-xs-12" id="local">
				<div class="title-section txt-right animate">
					<h3>{{ __('conf_venue_title') }}</h3>
					<div class="desc-title">
						<span class="f-18">Shopping Center BarraShoppingSul</span>
						<span class="f-24">Av. Diário de Notícias, 300, bairro Cristal</span>
						<span class="f-30">Porto Alegre/RS</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="info-local">
				<div class="col-md-6 small-block animate"  id="parallax-2">
					<div class="iframe-local small-block">
						<div class="hide-scroll"></div>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3452.318359227005!2d-51.247870583814624!3d-30.085067440130082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9519830ed9316ff3%3A0xa28d42fc4174690e!2sBarra+Shopping+Sul!5e0!3m2!1spt-BR!2sbr!4v1466472222770" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-md-9 big-block animate">
					<div class="img-local big-block">
						<img src="/assets/images/img-teste-local.jpg" alt="imagem local">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
