<section class="manifesto" id="manifesto">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="title-section animate">
					<h3>
						<span>{{ __('conf_manifest_text_1') }}</span>
						<span>{{ __('conf_manifest_text_2') }}</span>
					</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 animate">
				<p>{{ __('conf_manifest_p1') }}</p>
				<p>{{ __('conf_manifest_p2') }}</p>
				<p>{{ __('conf_manifest_p3') }}</p>
			</div>
			<div class="col-sm-6 animate">
				<p>{{ __('conf_manifest_p4') }}</p>
				<p>{{ __('conf_manifest_p5') }}</p>
				<p>{{ __('conf_manifest_p6') }}</p>
			</div>
			<div class="col-sm-12 animate">
				<p class="f-30">{{ __('conf_manifest_p7') }}</p>
			</div>
		</div>
	</div>
</section>