<section class="curadores">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="title-section animate">
					<h3>{{ __('conf_organizers_title') }}</h3>
					<div class="desc-title">
						<span class="f-18">{{ __('conf_organizers_text_1') }}</span>
						<span class="f-24">{{ __('conf_organizers_text_2') }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="img-container">
		<div class="vertical-centering">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="curadores-block">
							<div class="row centering">
								<div class="col-sm-12 col-xs-6 jay animate">
									<h3 class="clip-title-jay">
										<span>Jaydson</span>
										<span>Gomes</span>
									</h3>
									<a href="https://twitter.com/jaydson" class="button blue-button">Twitter</a>
									<a href="https://github.com/jaydson" class="button black-button">Github</a>
								</div>
								<div class="col-sm-12 col-xs-6 txt-right felipe animate">
									<h3 class="clip-title-felipe">
										<span>Felipe</span>
										<span>Nascimento</span>
									</h3>
									<a href="https://twitter.com/felipenmoura" class="button blue-button">Twitter</a>
									<a href="https://github.com/felipenmoura" class="button black-button">Github</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<img src="/assets/images/img-curadores.jpg" alt="imagem curadores" class="img-curadores animate">
	</div>
</section>
