<section class="patrocinio" id="patrocinio">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="title-section txt-right animate">
					<h3>{{ __('conf_sponsors_title') }}</h3>
					<div class="desc-title">
						<span class="f-18">{{ __('conf_sponsors_text_1') }}</span>
						<span class="f-24">{{ __('conf_sponsors_text_2') }}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row animate">
			<div class="col-sm-6 gold-block">
				<a href="https://firefox.com/developer?utm_source=braziljs&utm_medium=partner&utm_campaign=braziljs-conf">
					<div class="gold gold-block vertical-centering">
						<div class="centering">
							<img src="/assets/images/sponsors/mozilla.png" alt="Mozilla">
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-6 gold-block">
				<a href="http://www.locaweb.com.br/default.html?utm_source=braziljs&utm_medium=partner&utm_campaign=braziljs-conf">
					<div class="gold gold-block vertical-centering">
						<div class="centering">
							<img src="/assets/images/sponsors/locaweb.jpg" alt="Locaweb">
						</div>
					</div>
				</a>
			</div>	
			<div class="col-sm-6 gold-block">
				<a href="http://www.uolhost.uol.com.br/?utm_source=braziljs&utm_medium=partner&utm_campaign=braziljs-conf">
					<div class="gold gold-block vertical-centering">
						<div class="centering">
							<img src="/assets/images/sponsors/uol.jpg" alt="Uol Host">
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-6 gold-block">
				<a href="https://www.microsoft.com/?utm_source=braziljs&utm_medium=partner&utm_campaign=braziljs-conf">
					<div class="gold gold-block vertical-centering">
						<div class="centering">
							<img src="/assets/images/sponsors/microsoft.png" alt="Microsoft">
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-6 gold-block">
				<a href="https://www.microsoft.com/en-us/windows/microsoft-edge/?utm_source=braziljs&utm_medium=partner&utm_campaign=braziljs-conf">
					<div class="gold gold-block vertical-centering">
						<div class="centering">
							<img src="/assets/images/sponsors/edge.png" alt="Microsoft Edge">
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-6 gold-block">
				<a href="mailto:eventos@nasc.io">
					<div class="gold gold-block vertical-centering">
						<div class="centering f-30	">
							{{ __('conf_sponsors_text_3') }}
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="row animate">
			<div class="col-sm-4 col-xs-6 silver-block">
				<a href="https://brave.com/?utm_source=braziljs&utm_medium=partner&utm_campaign=braziljs-conf">
					<div class="silver silver-block vertical-centering">
						<div class="centering">
							<img src="/assets/images/sponsors/brave.png" alt="Brave">
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-4 col-xs-6 silver-block">
				<a href="http://www.kinghost.com.br/imprensa?utm_source=braziljs&utm_medium=partner&utm_campaign=braziljs-conf">
					<div class="silver silver-block vertical-centering">
						<div class="centering">
							<img src="/assets/images/sponsors/kinghost.jpg" alt="KingHost">
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-4 col-xs-6 silver-block">
				<a href="http://talentos.globo.com/?utm_source=braziljs&utm_medium=partner&utm_campaign=braziljs-conf">
					<div class="silver silver-block vertical-centering">
						<div class="centering">
							<img src="/assets/images/sponsors/globo.png" alt="Globo.com">
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-4 col-xs-6 silver-block">
				<a href="https://br.udacity.com/?utm_source=braziljs&utm_medium=partner&utm_campaign=braziljs-conf">
					<div class="silver silver-block vertical-centering">
						<div class="centering">
							<img src="/assets/images/sponsors/udacity-vertical-white.png" alt="Udacity">
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-4 col-xs-6 silver-block">
				<a href="http://www.adp.com.br/?utm_source=braziljs&utm_medium=partner&utm_campaign=braziljs-conf">
					<div class="silver silver-block vertical-centering">
						<div class="centering">
							<img src="/assets/images/sponsors/adp.jpg" alt="ADP">
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-4 bronze-container">
				<div class="row animate">
					<div class="col-sm-6 col-xs-3 bronze-block">
						<a href="https://github.com/?utm_source=braziljs&utm_medium=partner&utm_campaign=braziljs-conf">
							<div class="bronze bronze-block vertical-centering">
								<div class="centering">
									<img src="/assets/images/sponsors/github.png" alt="GitHub">
								</div>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-xs-3 bronze-block">
						<a href="https://www.scalablepath.com/?utm_source=braziljs&utm_medium=partner&utm_campaign=braziljs-conf">
							<div class="bronze bronze-block vertical-centering">
								<div class="centering">
									<img src="/assets/images/sponsors/scalable-path.png" alt="Scalable Path">
								</div>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-xs-3 bronze-block">
						<a href="https://www.alura.com.br/?utm_source=braziljs&utm_medium=partner&utm_campaign=braziljs-conf">
							<div class="bronze bronze-block vertical-centering">
								<div class="centering">
									<img src="/assets/images/sponsors/alura.svg" alt="Alura">
								</div>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-xs-3 bronze-block">
						<a href="http://3days.com.br/?utm_source=braziljs&utm_medium=partner&utm_campaign=braziljs-conf">
							<div class="bronze bronze-block vertical-centering">
								<div class="centering">
									<img src="/assets/images/sponsors/3days.jpg" alt="3days">
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4 bronze-container">
				<div class="row animate	">
					<div class="col-sm-6 col-xs-3 bronze-block">
						<a href="http://imasters.com.br/?utm_source=braziljs&utm_medium=partner&utm_campaign=braziljs-conf">
							<div class="bronze bronze-block vertical-centering">
								<div class="centering">
									<img src="/assets/images/sponsors/imasters.png" alt="iMasters">
								</div>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-xs-3 bronze-block">
						<a href="http://www.ecore.com.br/pt/?utm_source=braziljs&utm_medium=partner&utm_campaign=braziljs-conf">
							<div class="bronze bronze-block vertical-centering">
								<div class="centering">
									{{ __('conf_sponsors_text_3') }}
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="title-section content-support txt-right animate">
					<h3>{{ __('conf_support_title') }}</h3>
					<div class="desc-apoio">
						<a href="http://www.targettrust.com.br" target="_blank" title="Targettrust">
							<img src="/assets/images/support/support-target.png" alt="Targettrust">
						</a>
						<a href="https://becode.com.br/" target="_blank" title="Becode">
							<img src="/assets/images/support/support-becode.png" alt="Becodes">
						</a>
						<a href="http://devnaestrada.com.br/?utm_source=braziljs&utm_medium=partner&utm_campaign=braziljs-conf" target="_blank" title="Dev na Estrada">
							<img src="/assets/images/sponsors/devnaestrada.png" alt="Dev na Estrada">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
