/* GRID VARIABLES */
$columnWidth:60px;
$columnMediumWidth:42px;
$gutterWidth:20px;
$maxWidth:980px;
$smallSize:47.9374em;
$mediumSize:48em;
$desktopSize:63.9375em;

/* FONT VARIABLES */
$primaryFont : 'Coluna-CondensedBold', 'Arial', sans-serif;
$primaryParagraph : 'Arial';