{% extends "templates/layouts/campaign.html" %}

{% block main %}
<style type="text/css">
	article a, .major a {
		color: #af9400 !important;
	}
	p {
		margin-left: 12px !important;
	}
</style>
<section id="banner" style="background-image: url('../../images/nodeconf.png')">
	<header>
		<em>BrazilJS + NodeConf Brazil</em>
		<a href="#campanha" class="button">Saiba mais</a>
	</header>
</section>

<br />
<div class="container">
  <header class="major">
    <h2 id="campanha">BrazilJS <3 NodeConf</h2>
    <p>Compre um ingresso para a <strong><a href="http://brazil.nodeconf.com/">NodeConf Brazil</a></strong> e concorra a uma viagem com tudo pago para a maior conferência JavaScript do mundo!</p>
  </header>
  <article class="">
 	<p>
 		Que tal participar da <strong><a href="http://brazil.nodeconf.com/">primeira conferência</a></strong> sobre <strong>Node.js</strong> da América Latina e ainda de quebra concorrer a uma viagem com tudo pago para a <strong><a href="https://braziljs.org/conf">BrazilJS Conf</a>?</strong><br>
 		Isso mesmo, juntamente com a organização da NodeConf, estamos oferencendo essa oportunidade única para a comunidade.<br>
 	</p>
 	<p>
 		E não é só isso, além da viagem com tudo pago para a BrazilJS Conf, os participantes da promoção ainda concorrerão a outros prêmios super legais.<br>
 		Confira abaixo a lista dos prêmios que serão sorteados:<br>
 	</p>
 	<p>
 		- <strong><i>1 Viagem com tudo pago para a BrazilJS Conf (passagens, hotel e ingresso)</i></strong><br>
 		- <strong><i>10 cortesias para a BrazilJS Conf</i></strong><br>
 		- <strong><i>20 cupons de desconto(30%) para a BrazilJS Conf</i></strong><br>
 		- <strong><i>10 Kits BrazilJS incluindo camiseta, caneca, adesivo e almofada</i></strong><br>
 	</p>

 	<h1>Como participar?</h1>
 	<p>
 		Para participar é muito fácil.<br>
 		Basta fazer a sua inscrição na <strong><a href="http://brazil.nodeconf.com/">NodeConf Brazil</a></strong> utilizando o seguinte cupom (que inclusive te dá 10% de desconto!): <strong><i>BR4Z1LJSN0D3C0nF</i></strong><br>
 		Após isso, poste no Twitter ou no Facebook o seguinte texto:<br>
 		<i>"Eu vou na NodeConf Brazil e estou concorrendo a uma viagem para a BrazilJS Conf! https://braziljs.org/campaigns/nodeconf #BrazilJSNodeConf"</i><br>
 	</p>

 	<h1>Regras e mais informações:</h1>
 	<p>
 		- O sorteio será transmitido ao vivo no dia 15/06 às 15h no perfil do <strong><a href="https://www.facebook.com/braziljs">BrazilJS no Facebook</a></strong><br>
 		- O resultado será divulgado aqui nesta página<br>		
 		- Todos os vencedores serão contatados por email<br>
 		- A promoção é válida em todo o território brasileiro<br>
 		- A promoção só é válida para ingressos adquiridos durante o período da campanha (02/06/2016 até 15/06/2016)<br>
 		- 1 prêmio por participante<br>
 		- Para ganhar o prêmio é necessário ter se inscrito com o código e ter compartilhado (vamos conferir hein)<br>
 	</p>
  </article>
</div>
{% endblock %}
