{% extends "templates/layouts/campaign.html" %}

{% block main %}
<style type="text/css">
	article a, .major a {
		color: #af9400 !important;
	}
	p {
		margin-left: 12px !important;
	}
</style>
<section id="banner" style="background-image: url('../../images/stay-go-promo.png');
background-position: top center;">
	<header>
		<em>Dificuldade em justificar sua ida ao evento?</em>
		<a href="#campanha" class="button">Saiba mais</a>
	</header>
</section>

<br />
<div class="container">
  <header class="major">
    <h2 id="campanha">BrazilJS - Por que devo ir à BrazilJS</h2>
    <p>A <a href="http://braziljs.com.br/">BrazilJS Conf</a> é a principal conferência de JavaScript do Brasil a maior do mundo (sério).<br/>
    Trata-se do maior evento do mundo sobre JavaScript, com palco único, onde os participantes não perdem nada do conteúdo.<br/>
    O evento já é tradição na comunidade de desenvolvimento Web brasileira.<br/>Todo ano, centenas (+-1300) de desenvolvedores de todos os estados do Brasil e do mundo comparecem ao que muitos dizem ser, o <em>Woodstock da tecnologia web</em>.
    </p>
  </header>
  <article class="">









<h3>Justificativa</h3>
<em>JavaScript</em> é uma linguagem de programação em extrema ascensão, ganhando cada vez mais destaque no mercado e certamente, a linguagem mais apoiada por empresas como <strong>Google</strong>, <strong>Mozilla</strong>, <strong>Microsoft</strong>, <strong>Facebook</strong>, <strong>Yahoo!</strong>, <strong>Opera</strong>, <strong>Adobe</strong>, <strong>Apple</strong>, entre outras gigantes do mercado de tecnologia.<br/>
Apesar do nome, a conferência abrange diversos temas relacionados ao desenvolvimento web em geral, como: HTML, CSS, Node.js, SVG, WebGL, arquitetura de software, padrões, entre muitos outros.

<h3>Palestrantes (edições anteriores)</h3>
A BrazilJS Conf já contou com vários nomes de peso como palestrantes em suas ediçẽes anteriores, incluindo o próprio criador da linguagem.<br/>
Entre eles, destacam-se:<br/>
<br/>
- Brendan Eich, o <em>criador da linguagem JavaScript</em>, ex-CTO e fundador da <em>Mozilla</em><br/>
- Douglas Crockford, um dos <em>gurus mais respeitados</em> do JavaScript no mundo<br/>
- James Halliday, criador do <em>Browserify</em><br/>
- Sebastian McKenzie, criador do <em>Babeljs</em><br/>
- Laurie Voss, CTO do <em>NPM</em><br/>
- David Bryant, CTO da <em>Mozilla</em><br/>
- Dave Herman, um dos principais desenvolvedores da <em>Mozilla</em>, membro do <em>TC39</em><br/>
- Christian Heilmann, da Microsoft<br/>
- Josh Holmes, principal evangelista da <em>Microsoft</em><br/>
- Robert Nyman, evangelista do <em>Google</em><br/>
- Angus Croll, desenvolvedor do <em>Twitter</em><br/>
- Angelina Fabbro, ex <em>Mozilla</em> e hoje na <em>Digital Ocean</em><br/>
- Stoyan Stefanov, do <em>Facebook</em><br/>
- Caridy Patino, do <em>Yahoo!</em><br/>
- Yehuda Katz, desenvolvedor core do <em>Rails</em> e criador do <em>EmberJS</em><br/>
- Ricardo Cabello, criador da <em>ThreeJS</em>, principal biblioteca gráfica para JavaScript<br/>
- Renato Mangini e Rob Dodson, do <em>Google</em><br/>
- Mike Taylor, da <em>Opera</em> (hoje na <em>Mozilla</em>)<br/>
- Zeno Rocha, da <em>Liferay</em><br/>
- Ben Alman, da <em>Bocoup</em> e criador do <em>Grunt</em><br/>
- Reinaldo Ferraz, da <em>W3C</em><br/>
<br/>
Entre os possíveis temas das palestras abordados:<br/>
- Tópicos avançados no mundo JavaScript<br/>
- ES6/ES7 (es2015+)<br/>
- Frameworks JavaScript (React/Ember/Angular/outros)<br/>
- HTML/CSS<br/>
- Node.js<br/>
- Robocts/Hardware (IOT)<br/>
- Tooling<br/>
- MobileJS<br/>
- Compiladores e transpilers

<h3>Público</h3>
O público alvo são empreendedores da área de tecnologia e negócios, profissionais, estudantes e entusiastas interessados em desenvolvimento de software com base na linguagem JavaScript, tanto server-side quanto client-side.<br/>
Temos um público variado e bastante diversificado.<br/>
Mais da metade dos participantes são de diferentes estados do Brasil, e todo ano, a quantidade de participantes vindo de demais está aumentando.

<h3>Ambiente</h3>
Isto tudo cria um ambiente perfeito para networking, onde desenvolvedores trocam contatos e experiências, além de dicas de como resolver problemas que já enfrentaram antes.<br/>
O ambiente é rico, descontraído e enfatizamos muito no respeito e participação de todos.

<h3>Valores</h3>
Em ambos os sentidos!<br/>
Tanto os valores em dinheiro, quanto culturais.<br/>
Com o ingresso mais barato dentre as conferências de porte internacional, fica ainda mais fácil quando comprado em grupo ou com bastante antecedência.<br/>
Por ser em Porto Alegre, os custos acabam ficando muito mais baixos, também.<br/>
<br/>
Damos muita atenção aos valores sociais e culturais, encorajando os participantes e palestrantes em participar de apresentações tradicionalistas da região, interagir em happy hours e conhecerem a região.<br/>
Tudo com muito respeito, inclusão e igualdade.<br/>
Todos devem ler e seguir nosso <a href="http://braziljs.org/coc" target="_blank">código de conduta</a>.
<br/><br/><br/><br/>






</article>
</div>
{% endblock %}
